/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: Proxima-Nova-Regular; src: url("fonts/Proxima-Nova-Regular.eot"); src: url("fonts/Proxima-Nova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Proxima-Nova-Regular.woff") format("woff"), url("fonts/Proxima-Nova-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: proximanova-bold; src: url("fonts/proximanova-bold.eot"); src: url("fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold.woff") format("woff"), url("fonts/proximanova-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: proximanova-light; src: url("fonts/proximanova-light-webfont.eot"); src: url("fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-light-webfont.woff") format("woff"), url("fonts/proximanova-light-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-size: 18px; line-height: 1.4; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }

.out a { text-decoration: none; }
.out a:hover { text-decoration: underline; }

.wrapper { margin: 0 auto; padding: 0 20px; width: 1110px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.header { position: relative; height: 84px; background: #353535; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header .container { position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.header .header__logo { position: absolute; left: 20px; top: 20px; z-index: 3; display: inline-block; background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 150px 136px 100%; -webkit-background-size: 150px 136px 100%; background-size: 150px 136px 100%; width: 150px; height: 136px; display: inline-block; }
.header .header__phone { color: white; }
.header .header__mail { color: #0096ff; }
.header .header__menu { float: right; }
.header .header__info { padding-top: 16px; line-height: 1.4; text-align: center; display: inline-block; vertical-align: middle; }
.header .header__ico_menu { right: 0; background: url("../img/svg/menu.svg") no-repeat 0 0; -moz-background-size: 80px 80px 100%; -webkit-background-size: 80px 80px 100%; background-size: 80px 80px 100%; width: 80px; height: 80px; display: inline-block; }
.header .header__ico_basket { right: 80px; background: url("../img/svg/basket.svg") no-repeat 0 0; -moz-background-size: 80px 80px 100%; -webkit-background-size: 80px 80px 100%; background-size: 80px 80px 100%; width: 80px; height: 80px; display: inline-block; }
.header .header__ico { position: absolute; top: 0; cursor: pointer; display: none; }

.menu { height: 84px; line-height: 84px; font-size: 0; }
.menu .menu__item { margin-left: 20px; vertical-align: middle; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.menu .menu__item:first-child { margin-left: 0; }
.menu a { color: white; font-size: 20px; font-family: "proximanova-bold", Arial, sans-serif; }
.menu a:hover { color: white; }

.breadcrumbs { padding: 53px 0 35px; }
.breadcrumbs li { float: left; display: block; }
.breadcrumbs li a { color: #0096ff; font-size: 16px; display: block; }
.breadcrumbs li span { padding: 0 5px; }

.btn { position: relative; padding: 0 33px 0 24px; height: 50px; color: white; line-height: 50px; font-size: 18px; -moz-border-radius: 0 !important; -webkit-border-radius: 0; border-radius: 0 !important; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; font-family: "proximanova-bold", Arial, sans-serif; }
.btn:active { top: -1px; }
.btn.btn_blue { background: #007deb; -moz-box-shadow: inset 0 -4px 0 #0068c4; -webkit-box-shadow: inset 0 -4px 0 #0068c4; box-shadow: inset 0 -4px 0 #0068c4; }
.btn.btn_green { background: #00d700; -moz-box-shadow: inset 0 -4px 0 #00b900; -webkit-box-shadow: inset 0 -4px 0 #00b900; box-shadow: inset 0 -4px 0 #00b900; }
.btn:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.btn:focus { outline: none !important; }

.btn-top { display: inline-block; background: url("../img/svg/pic-scr-top.svg") no-repeat 0 0; -moz-background-size: 22px 14px 100%; -webkit-background-size: 22px 14px 100%; background-size: 22px 14px 100%; width: 22px; height: 14px; display: inline-block; }

.product { margin-bottom: 60px; *zoom: 1; }
.product:after { content: " "; display: table; clear: both; }
.product .slider { position: relative; margin: 0 0 33px; width: 100%; border: 3px solid #b8b8b8; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.product .slick-slide { background: white; }
.product .slick-slide img { width: 100%; display: block; }
.product .slick-dots { display: none; }
.product .slick-next, .product .slick-prev { position: absolute; top: 50%; margin-top: -17px; }
.product .slick-next:hover, .product .slick-prev:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
.product .slick-next:before, .product .slick-prev:before { display: none; }
.product .slick-prev { left: -3px; background: url("../img/svg/slick-prev.svg") no-repeat 0 0; -moz-background-size: 34px 34px 100%; -webkit-background-size: 34px 34px 100%; background-size: 34px 34px 100%; width: 34px; height: 34px; display: inline-block; }
.product .slick-next { right: -3px; background: url("../img/svg/slick-next.svg") no-repeat 0 0; -moz-background-size: 34px 34px 100%; -webkit-background-size: 34px 34px 100%; background-size: 34px 34px 100%; width: 34px; height: 34px; display: inline-block; }
.product .product__right { padding-left: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.product .product__title { margin: 0; font-size: 36px; color: black; letter-spacing: -0.1px; font-family: "proximanova-bold", Arial, sans-serif; }
.product .availability { position: relative; margin: 40px 0; padding-left: 42px; color: #666666; }
.product .availability .availability__ico { position: absolute; top: -3px; left: 0; height: 28px; width: 28px; background: #00d700; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display: block; }
.product .availability .availability__ico:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -6px 0 0 -9px; background: url('../img/icons-sbb6702d3c2.png') 0 0 no-repeat; width: 18px; height: 13px; }

.characteristics { margin: 40px 0; }
.characteristics .characteristics__row { margin-bottom: 10px; height: 50px; line-height: 50px; }
.characteristics .characteristics__name { font-size: 18px; color: #656565; }
.characteristics .characteristics__name, .characteristics .select { vertical-align: top; display: inline-block; }

.select { position: relative; width: 100% !important; height: 50px !important; line-height: 50px !important; white-space: nowrap; border: none !important; background: #f2f2f2 !important; -moz-box-shadow: inset 0 -5px 0 #d9d9d9 !important; -webkit-box-shadow: inset 0 -5px 0 #d9d9d9 !important; box-shadow: inset 0 -5px 0 #d9d9d9 !important; text-overflow: ellipsis; }
.select:focus { outline: none !important; }
.select .caret { content: ""; position: absolute; right: 20px !important; top: 50% !important; margin-top: -3px !important; width: 0px; height: 0px; border-style: solid; border-width: 10px 6px 0 6px; border-color: black transparent transparent transparent; }
.select .dropdown-toggle { padding: 0 15px !important; width: 100%; color: black; font-size: 18px; text-align: left; background: none; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.select .btn, .select .dropdown-toggle, .select .selectpicker.btn-info { border: none !important; }
.select .btn:focus, .select .dropdown-toggle:focus, .select .selectpicker.btn-info:focus { border: none !important; outline: none !important; }
.select span, .select a { outline: none !important; color: black !important; font-size: 18px; }

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info { top: 0; border: none !important; outline: none !important; background: none !important; -moz-box-shadow: inset 0 -5px 0 #d9d9d9 !important; -webkit-box-shadow: inset 0 -5px 0 #d9d9d9 !important; box-shadow: inset 0 -5px 0 #d9d9d9 !important; }

.select-2 { position: relative; cursor: pointer; font-size: 12px; display: none; }
.select-2 .select_white { background: white; }
.select-2 .select__text { position: relative; padding: 0 15px; height: 50px; line-height: 50px; white-space: nowrap; font-size: 16px; border: none; background: #f2f2f2; -moz-box-shadow: inset 0 -5px 0 #d9d9d9; -webkit-box-shadow: inset 0 -5px 0 #d9d9d9; box-shadow: inset 0 -5px 0 #d9d9d9; text-overflow: ellipsis; display: block; }
.select-2 .select__text:after { content: ""; position: absolute; right: 20px !important; top: 50% !important; margin-top: -3px !important; width: 0px; height: 0px; border-style: solid; border-width: 10px 6px 0 6px; border-color: black transparent transparent transparent; }
.select-2 .select__list { position: absolute; display: none; left: 0; right: 0; top: 100%; z-index: 100; max-height: 200px; overflow-x: hidden; overflow-y: auto; background: #d9d9d9; }
.select-2 .select__list li { cursor: pointer; line-height: 1; }
.select-2 .select__list li.active, .select-2 .select__list li:hover { background: #717791; }
.select-2 .select__list li.active a, .select-2 .select__list li:hover a { background: none !important; text-decoration: none; color: white !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.select-2 .select__list li a { padding: 5px 11px !important; line-height: 1; font-size: 16px; text-align: center; display: block; }

.buy .buy__row { margin-bottom: 20px; }
.buy .buy__text { margin-left: 30px; font-size: 36px; display: inline-block; font-family: "proximanova-bold", Arial, sans-serif; }
.buy .buy__text span, .buy .buy__text del { font-weight: 400; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.buy .btn { padding: 0; height: 60px; width: 150px; text-align: center; font-size: 26px; }

.soc { font-size: 0; text-align: center; }
.soc li { margin-right: 34px; height: 40px; line-height: 40px; display: inline-block; }
.soc .soc__ico { position: relative; vertical-align: middle; display: inline-block; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.soc .soc__ico:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.soc .soc__ico_vk { background: url("../img/svg/vk.svg") no-repeat 0 0; -moz-background-size: 23px 29px 100%; -webkit-background-size: 23px 29px 100%; background-size: 23px 29px 100%; width: 23px; height: 29px; display: inline-block; }
.soc .soc__ico_fb { background: url("../img/svg/fb.svg") no-repeat 0 0; -moz-background-size: 16px 33px 100%; -webkit-background-size: 16px 33px 100%; background-size: 16px 33px 100%; width: 16px; height: 33px; display: inline-block; }
.soc .soc__ico_ins { background: url("../img/svg/ins.svg") no-repeat 0 0; -moz-background-size: 31px 31px 100%; -webkit-background-size: 31px 31px 100%; background-size: 31px 31px 100%; width: 31px; height: 31px; display: inline-block; }
.soc .soc__ico_g { background: url("../img/svg/g.svg") no-repeat 0 0; -moz-background-size: 35px 32px 100%; -webkit-background-size: 35px 32px 100%; background-size: 35px 32px 100%; width: 35px; height: 32px; display: inline-block; }
.soc .soc__ico_mail { background: url("../img/svg/mail.svg") no-repeat 0 0; -moz-background-size: 33px 28px 100%; -webkit-background-size: 33px 28px 100%; background-size: 33px 28px 100%; width: 33px; height: 28px; display: inline-block; }

.title { font-size: 42px; font-family: "proximanova-bold", Arial, sans-serif; }

.field.field_grey { background: #f2f2f2; }
.field .field__top_grey { padding: 60px 0 0; background: #f2f2f2; }
.field .field__top_grey .title { margin-bottom: 40px; }
.field .field__top { margin: 60px 0 40px; }
.field .btn-top { margin-top: 23px; }
.field .field__row { margin-top: 40px; }

.article { margin-bottom: 60px; *zoom: 1; }
.article:after { content: " "; display: table; clear: both; }
.article .media-body { font-size: 18px; }
.article .media-body p { margin-top: 8px; }
.article .media-heading { font-size: 16px; color: #0096ff; font-family: "proximanova-bold", Arial, sans-serif; }
.article img { margin-right: 28px; }
.article .date { padding-left: 6px; font-size: 16px; line-height: 1; }

.tabbable .nav-tabs { border-bottom: none; }
.tabbable li a { padding: 18px !important; color: #0096ff; font-size: 18px !important; border: none !important; border-radius: 0 !important; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; font-family: "proximanova-bold", Arial, sans-serif; }
.tabbable li:hover a, .tabbable li.active a { color: black !important; background: white !important; -moz-box-shadow: inset 0 4px 0 #e5e5e5; -webkit-box-shadow: inset 0 4px 0 #e5e5e5; box-shadow: inset 0 4px 0 #e5e5e5; }
.tabbable .nav__text2 { display: none; }
.tabbable .tab-content .article { margin-top: 40px; }

.date { color: #999999; line-height: 1; vertical-align: top; display: inline-block; }

.reviews-form { margin-top: 40px; }

.reviewsform__title { margin-bottom: 10px; color: #222222; line-height: 1; font-size: 16px; font-family: "proximanova-bold", Arial, sans-serif; }

.reviewsform__area { height: 94px !important; color: #222222 !important; font-size: 18px !important; border: 2px solid #bfbfbf !important; border-radius: 0 !important; resize: none; }

.reviewsform__row { margin-top: 30px; }

.reviewsform__link { height: 50px; line-height: 50px; }

.reviewsform__all { color: #0096ff; font-family: "proximanova-bold", Arial, sans-serif; }

.reviewsform__quantity { color: #999999; }

.reviewsform__all, .reviewsform__quantity { font-size: 18px; line-height: 1; vertical-align: middle; display: inline-block; }

.col-60 { width: 60px; height: 60px; margin-right: 28px; }

.characteristic .media-heading { color: black; font-size: 20px; font-family: "proximanova-bold", Arial, sans-serif; }
.characteristic .media__ico { margin-right: 30px !important; display: inline-block; }
.characteristic .media__ico.media__ico_1 { background: url("../img/svg/char_ico2.svg") no-repeat 0 0; -moz-background-size: 60px 60px 100%; -webkit-background-size: 60px 60px 100%; background-size: 60px 60px 100%; width: 60px; height: 60px; display: inline-block; }
.characteristic .media__ico.media__ico_2 { background: url("../img/svg/char_ico1.svg") no-repeat 0 0; -moz-background-size: 60px 60px 100%; -webkit-background-size: 60px 60px 100%; background-size: 60px 60px 100%; width: 60px; height: 60px; display: inline-block; }

.photo .photo__img { margin-bottom: 30px; }
.photo .photo__img img { width: 100%; display: block; }
.photo .photo__row { margin-top: 10px; }

.brand .brand__img { padding-bottom: 35px; text-align: center; }
.brand .brand__img img { display: inline-block; }

.navbar { width: 270px; }
.navbar .navbar__item { height: 60px; line-height: 60px; list-style-type: none; -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; transition: 0.1s; }
.navbar a { padding: 0 30px; color: #0096ff; font-size: 26px; display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "proximanova-bold", Arial, sans-serif; }
.navbar a.is-active, .navbar a:hover { color: white; text-decoration: none; background: black; }
.navbar.is-fixed { position: fixed; top: 20px; }

.kate { margin-bottom: 55px; font-family: "proximanova-bold", Arial, sans-serif; }
.kate .kate__img { margin-bottom: 20px; font-size: 18px; border: 2px solid #e5e5e5; display: block; }
.kate .kate__img img { width: 100%; display: block; }
.kate .kate__text, .kate .kate__name { color: #0096ff; }
.kate .kate__name, .kate .kate__prise { font-size: 26px; }
.kate .rate__prise-old { padding-left: 12px; color: #7f7f7f; text-decoration: line-through; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }

.discount { padding-left: 5px; color: #ee4023; }

.footer { color: #b2b2b2; font-size: 16px; overflow: hidden; background: #333333; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer a { color: #b2b2b2; text-decoration: none; }
.footer a:hover { text-decoration: underline; }
.footer p { line-height: 1.4; }
.footer .footer_copy { padding-left: 5px; color: #b2b2b2; font-size: 16px; display: inline-block; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.footer .footer__title-1, .footer .footer__title-2 { padding: 5px 0; color: white; display: block; font-family: "proximanova-bold", Arial, sans-serif; }
.footer .footer__title-1:first-letter, .footer .footer__title-2:first-letter { text-transform: uppercase; }
.footer .footer__title-1 { font-size: 16px; }
.footer .footer__title-2 { font-size: 18px; }
.footer .footer__title-2_inl { display: inline-block; }
.footer .footer__item { padding: 60px 0 70px 28px; }
.footer .footer__item_visible { display: none; }
.footer .footer__item_visible ul { margin-left: 8px; }
.footer .footer__item_hidden, .footer .footer__item_right { float: right !important; }
.footer .foorer__row { margin-bottom: 40px; }
.footer .footer__item_first { float: left; padding-bottom: 300px; background: #1a1a1a; }
.footer .footer__list li { padding: 5px 0; }
.footer .footer__list li a:hover { color: #b2b2b2; }
.footer .soc { margin-top: 30px; text-align: left; }
.footer .soc li { margin-bottom: 24px; margin-right: 32px; }
.footer .soc .soc__ico_vk { background: url("../img/svg/vk-2.svg") no-repeat 0 0; -moz-background-size: 22px 29px 100%; -webkit-background-size: 22px 29px 100%; background-size: 22px 29px 100%; width: 22px; height: 29px; display: inline-block; }
.footer .soc .soc__ico_fb { background: url("../img/svg/fb-2.svg") no-repeat 0 0; -moz-background-size: 16px 33px 100%; -webkit-background-size: 16px 33px 100%; background-size: 16px 33px 100%; width: 16px; height: 33px; display: inline-block; }
.footer .soc .soc__ico_ins { background: url("../img/svg/ins-2.svg") no-repeat 0 0; -moz-background-size: 30px 30px 100%; -webkit-background-size: 30px 30px 100%; background-size: 30px 30px 100%; width: 30px; height: 30px; display: inline-block; }
.footer .soc .soc__ico_g { background: url("../img/svg/g-2.svg") no-repeat 0 0; -moz-background-size: 35px 33px 100%; -webkit-background-size: 35px 33px 100%; background-size: 35px 33px 100%; width: 35px; height: 33px; display: inline-block; }
.footer .soc .soc__ico_mail { background: url("../img/svg/mail-2.svg") no-repeat 0 0; -moz-background-size: 33px 28px 100%; -webkit-background-size: 33px 28px 100%; background-size: 33px 28px 100%; width: 33px; height: 28px; display: inline-block; }

@media screen and (max-width: 1200px) { .soc li { margin-right: 21px !important; } }
@media screen and (max-width: 992px) { .container { width: 100% !important; }
  .header { height: 80px; }
  .header .container { position: initial; }
  .header__logo { top: 10px !important; width: 105px !important; height: 60px !important; }
  .header__info { display: none !important; }
  .header__ico { display: block !important; }
  .menu { position: absolute !important; top: 80px; left: 0; right: 0; margin: 0 !important; height: auto; background: #363636; z-index: 2; display: none; }
  .menu .menu__item { float: none; margin: 0; text-align: center; display: block; }
  .breadcrumbs { display: none; }
  .product { margin-top: 60px; }
  .product .product__title { font-size: 26px; }
  .product .buy__text { font-size: 26px; }
  .navbar { width: 234px; }
  .title { font-size: 36px; }
  .field__top { margin-bottom: 30px; }
  .tabbable li a { font-size: 16px !important; }
  .nav__text1 { display: none; }
  .nav__text2 { display: block !important; }
  .reviewsform__all, .reviewsform__quantity { font-size: 16px; }
  .reviewsform__row .btn { font-size: 16px; }
  .media_resp { display: none; }
  .kate .kate__name, .kate .kate__prise { font-size: 20px; }
  .footer__item { float: left !important; }
  .footer__item_first { float: right !important; padding-bottom: 60px !important; }
  .footer__item_hidden { display: none; }
  .footer__item_visible { display: block !important; }
  .footer .about { display: none; }
  .footer .contacts { display: none; }
  .footer .phone, .footer .mail { margin-top: 40px; width: 50%; }
  .footer .phone { float: left; }
  .footer .mail { float: right; } }
@media screen and (max-width: 768px) { .field__top, .field__top_grey { position: relative; padding: 30px 40px 30px 15px !important; color: white; margin: 40px 0 !important; background: black !important; }
  .field__top .title, .field__top_grey .title { margin: 0 !important; font-size: 26px !important; }
  .title { font-size: 26px !important; }
  .field_grey { background: none !important; }
  .article { margin-bottom: 0; }
  .select-2 { display: block !important; }
  .media-text { margin: 20px 0 40px; }
  .media-body { overflow: initial !important; }
  .media-heading { padding-top: 10px; }
  .btn-top { position: absolute; right: 15px; top: 50%; margin-top: -6px !important; background: url("../img/svg/pic-scr-top2.svg") no-repeat 0 0; -moz-background-size: 20px 13px 100%; -webkit-background-size: 20px 13px 100%; background-size: 20px 13px 100%; width: 20px; height: 13px; display: inline-block; }
  .btn-top.btn-top_mod { margin-right: -15px; }
  .footer__item { padding: 0 20px !important; }
  .footer__item_visible { margin: 60px 0 0 0; }
  .soc { margin: 40px 0 !important; }
  .buy .buy__text { margin-left: 15px !important; }
  .footer { padding-bottom: 60px !important; } }
.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 50%; }
.l .l-col2 { float: right; width: 50%; }

.topic { font-size: 42px; line-height: 1.1; background: url(../img/topic-bg-right.png) no-repeat 100% 0, url(../img/topic-bg-left.png) no-repeat 0 0; background-size: contain; font-family: "proximanova-bold", Arial, sans-serif; }
.topic .container { padding: 60px 90px 60px 30px; }

.category { font-size: 0; }
.category .category__item { position: relative; width: 20%; display: inline-block; }
.category .category__item img { width: 100%; opacity: 0.8; display: block; }
.category .category__link { position: absolute; top: 0; left: 0; height: 100%; width: 100%; font-size: 30px !important; text-transform: uppercase; color: white; display: inline-block; text-align: center; font-size: 0; }
.category .category__link:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.category .category__link span { line-height: 1.1; display: inline-block; vertical-align: middle; }
.category .category__item_lime { background: #a1ba00; }
.category .category__item_light-green { background: #007a5b; }
.category .category__item_blue { background: #2852af; }
.category .category__item_light-blue { background: #28a2b0; }
.category .category__item_green { background: #2f7900; }
.category .category__item_azure { background: #0078ff; }
.category .category__item_red { background: #b4001a; }
