/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: Proxima-Nova-Regular; src: url("fonts/Proxima-Nova-Regular.eot"); src: url("fonts/Proxima-Nova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Proxima-Nova-Regular.woff") format("woff"), url("fonts/Proxima-Nova-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: proximanova-bold; src: url("fonts/proximanova-bold.eot"); src: url("fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold.woff") format("woff"), url("fonts/proximanova-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: proximanova-light; src: url("fonts/proximanova-light-webfont.eot"); src: url("fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-light-webfont.woff") format("woff"), url("fonts/proximanova-light-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { position: relative; font-size: 18px; line-height: 1.4; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
body.is-hidden { overflow: hidden; }
body .loader { position: absolute; top: 50%; left: 50%; margin: -92px 0 0 -130px; display: inline-block; }

.out a { text-decoration: none; }
.out a:hover { text-decoration: underline; }
.out.is-loading { position: relative; opacity: 0; }

.wrapper { margin: 0 auto; padding: 0 20px; width: 1110px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.header { position: relative; height: 84px; background: #1a1a1a; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header .container { position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.header .header__logo { position: absolute; left: 20px; top: 20px; z-index: 3; display: inline-block; background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 150px 86px 100%; -webkit-background-size: 150px 86px 100%; background-size: 150px 86px 100%; width: 150px; height: 86px; display: inline-block; }
.header .header__phone { color: white; }
.header .header__mail { color: #0096ff; }
.header .header__menu { float: right; }
.header .header__info { padding-top: 16px; line-height: 1.4; text-align: center; display: inline-block; vertical-align: middle; }
.header .header-btn_menu { right: 0; }
.header .header-btn_menu i { background: url("../img/svg/menu.svg") no-repeat 0 0; -moz-background-size: 34px 34px 100%; -webkit-background-size: 34px 34px 100%; background-size: 34px 34px 100%; width: 34px; height: 34px; display: inline-block; }
.header .header-btn_basket { right: 80px; }
.header .header-btn_basket i { background: url("../img/svg/basket.svg") no-repeat 0 0; -moz-background-size: 34px 36px 100%; -webkit-background-size: 34px 36px 100%; background-size: 34px 36px 100%; width: 34px; height: 36px; display: inline-block; }
.header .header-btn { position: absolute; top: 0; height: 80px; width: 80px; line-height: 80px; text-align: center; vertical-align: top; display: none; background: none; }
.header .header-btn i { vertical-align: middle; display: inline-block; }
.header .header-btn:hover, .header .header-btn.is-active { background: #363636; }

.menu { height: 84px; font-size: 0; }
.menu .menu__item { vertical-align: middle; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.menu .menu__item:hover a { color: white; text-decoration: none; background: #333333; }
.menu .menu__item:hover .menu__drop { display: block; }
.menu .menu__item:first-child { margin-left: 0; }
.menu .menu__item a { padding: 0 10px; height: 84px; line-height: 84px; color: white; font-size: 20px; display: block; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; font-family: "proximanova-bold", Arial, sans-serif; }
.menu .menu__drop { position: absolute; left: -490px; right: -15px; top: 100%; z-index: 2; }
.menu .menu__drop .drop__col a { height: auto; line-height: 1.4; }
.menu .menu__drop .drop__col a:hover { text-decoration: underline; }

.menumob { position: absolute; top: 100%; left: 0; right: 0; padding: 40px 15px 60px; z-index: 2; background: #363636; display: none; *zoom: 1; }
.menumob:after { content: " "; display: table; clear: both; }
.menumob .menumob__title { margin: 20px 0; color: white; font-size: 24px; display: block; font-family: "proximanova-bold", Arial, sans-serif; }
.menumob ul { padding-left: 10px; }
.menumob ul li { margin: 8px 0; }
.menumob ul a { color: #a1a1a1; font-size: 18px; }

.ruble { height: 1.35ex; vertical-align: baseline; }

.drop { padding: 25px 60px 60px; text-align: right; font-size: 0; background: #333333; display: none; }
.drop .drop__col { width: 18%; text-align: left; font-size: 13px; vertical-align: top; display: inline-block; }
.drop .drop__col .drop__title_disc { padding-right: 0; display: inline-block; }
.drop .drop__col .discount { font-size: 20px; font-family: "proximanova-bold", Arial, sans-serif; }
.drop .drop__list { padding-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.drop .drop__list .drop__item { margin-top: 10px; height: auto; }
.drop .drop__list .drop__item a { color: #b2b2b2; font-size: 16px; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.drop .drop__title { margin-top: 35px; font-size: 20px; }

.breadcrumbs { padding: 53px 0 35px; }
.breadcrumbs li { float: left; display: block; }
.breadcrumbs li a { color: #0096ff; font-size: 16px; display: block; }
.breadcrumbs li span { padding: 0 5px; }

.btn { position: relative; padding: 0 33px 0 24px; height: 50px; color: white; line-height: 50px; font-size: 18px; -moz-border-radius: 0 !important; -webkit-border-radius: 0; border-radius: 0 !important; -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2); box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2); -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; font-family: "proximanova-bold", Arial, sans-serif; }
.btn.btn_blue { background: #007deb; }
.btn.btn_blue:hover { background: #006fd2; }
.btn.btn_green { background: #00d700; }
.btn.btn_green:hover { background: #00be00; }
.btn:active { -moz-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.2); box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.2); }
.btn:disabled { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; }
.btn:focus { outline: none !important; }

.btn-top { display: inline-block; background: url("../img/svg/pic-scr-top.svg") no-repeat 0 0; -moz-background-size: 22px 14px 100%; -webkit-background-size: 22px 14px 100%; background-size: 22px 14px 100%; width: 22px; height: 14px; display: inline-block; }

.product { margin-bottom: 60px; *zoom: 1; }
.product:after { content: " "; display: table; clear: both; }
.product .slider { position: relative; margin: 0 0 33px; width: 100%; border: 3px solid #b8b8b8; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.product .slick-slide { background: white; }
.product .slick-slide img { width: 100%; display: block; }
.product .slick-dots { display: none; }
.product .slick-next, .product .slick-prev { position: absolute; top: 50%; margin-top: -17px; }
.product .slick-next:hover, .product .slick-prev:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
.product .slick-next:before, .product .slick-prev:before { display: none; }
.product .slick-prev { left: -3px; background: url("../img/svg/slick-prev.svg") no-repeat 0 0; -moz-background-size: 34px 34px 100%; -webkit-background-size: 34px 34px 100%; background-size: 34px 34px 100%; width: 34px; height: 34px; display: inline-block; }
.product .slick-next { right: -3px; background: url("../img/svg/slick-next.svg") no-repeat 0 0; -moz-background-size: 34px 34px 100%; -webkit-background-size: 34px 34px 100%; background-size: 34px 34px 100%; width: 34px; height: 34px; display: inline-block; }
.product .product__right { padding-left: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.product .product__title { margin: 0; font-size: 36px; color: black; letter-spacing: -0.1px; font-family: "proximanova-bold", Arial, sans-serif; }
.product .availability { position: relative; margin: 40px 0; padding-left: 42px; color: #666666; }
.product .availability .availability__ico { position: absolute; top: -3px; left: 0; height: 28px; width: 28px; background: #00d700; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display: block; }
.product .availability .availability__ico:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -6px 0 0 -9px; background: url('../img/icons-sb404010eb4.png') 0 0 no-repeat; width: 18px; height: 13px; }

.characteristics { margin: 40px 0; }
.characteristics .characteristics__row { margin-bottom: 10px; height: 50px; line-height: 50px; }
.characteristics .characteristics__name { font-size: 18px; color: #656565; }
.characteristics .characteristics__name, .characteristics .select { vertical-align: top; display: inline-block; }

.select { position: relative; width: 100% !important; height: 50px !important; line-height: 50px !important; white-space: nowrap; border: none !important; background: #f2f2f2 !important; -moz-box-shadow: inset 0 -5px 0 #d9d9d9 !important; -webkit-box-shadow: inset 0 -5px 0 #d9d9d9 !important; box-shadow: inset 0 -5px 0 #d9d9d9 !important; text-overflow: ellipsis; }
.select:focus { outline: none !important; }
.select .caret { content: ""; position: absolute; right: 20px !important; top: 50% !important; margin-top: -3px !important; width: 0px; height: 0px; border-style: solid; border-width: 10px 6px 0 6px; border-color: black transparent transparent transparent; }
.select .dropdown-toggle { padding: 0 15px !important; width: 100%; color: black; font-size: 18px; text-align: left; background: none; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.select .btn, .select .dropdown-toggle, .select .selectpicker.btn-info { border: none !important; }
.select .btn:focus, .select .dropdown-toggle:focus, .select .selectpicker.btn-info:focus { border: none !important; outline: none !important; }
.select span, .select a { outline: none !important; color: black !important; font-size: 18px; }

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info { top: 0; border: none !important; outline: none !important; background: none !important; -moz-box-shadow: inset 0 -5px 0 #d9d9d9 !important; -webkit-box-shadow: inset 0 -5px 0 #d9d9d9 !important; box-shadow: inset 0 -5px 0 #d9d9d9 !important; }

.select-2 { position: relative; cursor: pointer; font-size: 12px; }
.select-2.select-2_mod { display: none; }
.select-2.select-2_mod li.active, .select-2.select-2_mod li:hover { background: #717791; }
.select-2.is-active .select__text { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.select-2.is-active .select__text:after { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.select-2 .select_white { background: white; }
.select-2 .select__text { position: relative; padding: 0 15px; height: 50px; line-height: 50px; white-space: nowrap; font-size: 16px; border: none; background: #f2f2f2; -moz-box-shadow: inset 0 -5px 0 #d9d9d9; -webkit-box-shadow: inset 0 -5px 0 #d9d9d9; box-shadow: inset 0 -5px 0 #d9d9d9; text-overflow: ellipsis; display: block; }
.select-2 .select__text:after { content: ""; position: absolute; right: 20px !important; top: 50% !important; margin-top: -3px !important; width: 0px; height: 0px; border-style: solid; border-width: 10px 6px 0 6px; border-color: black transparent transparent transparent; }
.select-2 .select__list { position: absolute; left: 0; right: 0; top: 100%; padding: 0 0 7px; z-index: 100; max-height: 290px; overflow-x: hidden; overflow-y: auto; background: #f2f2f2; border-bottom: 5px solid #d9d9d9; display: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.select-2 .select__list li { margin-bottom: 8px; cursor: pointer; line-height: 1; *zoom: 1; }
.select-2 .select__list li:after { content: " "; display: table; clear: both; }
.select-2 .select__list li.active a, .select-2 .select__list li:hover a { background: none !important; text-decoration: none; color: white !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.select-2 .select__list li a { padding: 5px 11px !important; line-height: 1; font-size: 16px; text-align: center; display: block; }
.select-2 .select__list li .checkbox { margin: 0 !important; }
.select-2 .select__list.select__list_white { max-height: 235px; overflow: auto; }
.select-2 .select__list.select__list_white li { margin: 0 8px; padding-bottom: 8px; background: white; }
.select-2 .select__list.select__list_white li:first-child { padding-top: 13px; -moz-box-shadow: inset 0 5px 0 #d9d9d9; -webkit-box-shadow: inset 0 5px 0 #d9d9d9; box-shadow: inset 0 5px 0 #d9d9d9; }

.buy .buy__row { margin-bottom: 20px; }
.buy .buy__text { margin-left: 30px; font-size: 36px; display: inline-block; font-family: "proximanova-bold", Arial, sans-serif; }
.buy .buy__text span, .buy .buy__text del { font-weight: 400; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.buy .btn { padding: 0; height: 60px; width: 150px; text-align: center; font-size: 26px; }

.soc { font-size: 0; text-align: center; }
.soc li { margin-right: 34px; height: 40px; line-height: 40px; display: inline-block; }
.soc .soc__ico { position: relative; vertical-align: middle; display: inline-block; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.soc .soc__ico:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.soc .soc__ico_vk { background: url("../img/svg/vk.svg") no-repeat 0 0; -moz-background-size: 23px 29px 100%; -webkit-background-size: 23px 29px 100%; background-size: 23px 29px 100%; width: 23px; height: 29px; display: inline-block; }
.soc .soc__ico_fb { background: url("../img/svg/fb.svg") no-repeat 0 0; -moz-background-size: 16px 33px 100%; -webkit-background-size: 16px 33px 100%; background-size: 16px 33px 100%; width: 16px; height: 33px; display: inline-block; }
.soc .soc__ico_ins { background: url("../img/svg/ins.svg") no-repeat 0 0; -moz-background-size: 31px 31px 100%; -webkit-background-size: 31px 31px 100%; background-size: 31px 31px 100%; width: 31px; height: 31px; display: inline-block; }
.soc .soc__ico_g { background: url("../img/svg/g.svg") no-repeat 0 0; -moz-background-size: 35px 32px 100%; -webkit-background-size: 35px 32px 100%; background-size: 35px 32px 100%; width: 35px; height: 32px; display: inline-block; }
.soc .soc__ico_mail { background: url("../img/svg/mail.svg") no-repeat 0 0; -moz-background-size: 33px 28px 100%; -webkit-background-size: 33px 28px 100%; background-size: 33px 28px 100%; width: 33px; height: 28px; display: inline-block; }

.title { font-size: 42px; font-family: "proximanova-bold", Arial, sans-serif; }

.field.field_grey { background: #f2f2f2; }
.field .field__top_grey { padding: 60px 0 0; background: #f2f2f2; }
.field .field__top_grey .title { margin-bottom: 40px; }
.field .field__top { margin: 60px 0 40px; }
.field .btn-top { margin-top: 23px; }
.field .field__row { margin-top: 40px; }

.article { margin-bottom: 60px; *zoom: 1; }
.article:after { content: " "; display: table; clear: both; }
.article .media-body { font-size: 18px; }
.article .media-body p { margin-top: 8px; }
.article .media-heading { font-size: 16px; color: #0096ff; font-family: "proximanova-bold", Arial, sans-serif; }
.article img { margin-right: 28px; }
.article .date { padding-left: 6px; font-size: 16px; line-height: 1; }

.tabbable .nav-tabs { border-bottom: none; }
.tabbable li a { padding: 18px !important; color: #0096ff; font-size: 18px !important; border: none !important; border-radius: 0 !important; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; font-family: "proximanova-bold", Arial, sans-serif; }
.tabbable li:hover a, .tabbable li.active a { color: black !important; background: white !important; -moz-box-shadow: inset 0 4px 0 #e5e5e5; -webkit-box-shadow: inset 0 4px 0 #e5e5e5; box-shadow: inset 0 4px 0 #e5e5e5; }
.tabbable .nav__text2 { display: none; }
.tabbable .tab-content .article { margin-top: 40px; }

.date { color: #999999; line-height: 1; vertical-align: top; display: inline-block; }

.reviews-form { margin-top: 40px; }

.reviewsform__title { margin-bottom: 10px; color: #222222; line-height: 1; font-size: 16px; font-family: "proximanova-bold", Arial, sans-serif; }

.reviewsform__area { height: 94px !important; color: #222222 !important; font-size: 18px !important; border: 2px solid #bfbfbf !important; border-radius: 0 !important; resize: none; }

.reviewsform__row { margin-top: 30px; }

.reviewsform__link { height: 50px; line-height: 50px; }

.reviewsform__all { color: #0096ff; font-family: "proximanova-bold", Arial, sans-serif; }

.reviewsform__quantity { color: #999999; }

.reviewsform__all, .reviewsform__quantity { font-size: 18px; line-height: 1; vertical-align: middle; display: inline-block; }

.col-60 { width: 60px; height: 60px; margin-right: 28px; }

.characteristic .media-heading { color: black; font-size: 20px; font-family: "proximanova-bold", Arial, sans-serif; }
.characteristic .media__ico { margin-right: 30px !important; display: inline-block; }
.characteristic .media__ico.media__ico_1 { background: url("../img/svg/char_ico2.svg") no-repeat 0 0; -moz-background-size: 60px 60px 100%; -webkit-background-size: 60px 60px 100%; background-size: 60px 60px 100%; width: 60px; height: 60px; display: inline-block; }
.characteristic .media__ico.media__ico_2 { background: url("../img/svg/char_ico1.svg") no-repeat 0 0; -moz-background-size: 60px 60px 100%; -webkit-background-size: 60px 60px 100%; background-size: 60px 60px 100%; width: 60px; height: 60px; display: inline-block; }

.photo .photo__img { margin-bottom: 30px; }
.photo .photo__img img { width: 100%; display: block; }
.photo .photo__row { margin-top: 10px; }

.brand .brand__img { padding-bottom: 35px; text-align: center; }
.brand .brand__img img { display: inline-block; }

.navbar { width: 270px; }
.navbar .navbar__item { height: 60px; line-height: 60px; list-style-type: none; -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; transition: 0.1s; }
.navbar a { padding: 0 30px; color: #0096ff; font-size: 26px; display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "proximanova-bold", Arial, sans-serif; }
.navbar a.is-active, .navbar a:hover { color: white; text-decoration: none; background: black; }
.navbar.is-fixed { position: fixed; top: 20px; }

.kate { margin-bottom: 55px; display: block; font-family: "proximanova-bold", Arial, sans-serif; }
.kate .kate__img { position: relative; margin-bottom: 20px; font-size: 18px; overflow: hidden; border: 2px solid #e5e5e5; display: block; *zoom: 1; }
.kate .kate__img:after { content: " "; display: table; clear: both; }
.kate .kate__img img { width: 100%; display: block; }
.kate .kate__info { position: absolute; top: -9px; right: -54px; width: 156px; height: 63px; line-height: 77px; font-size: 28px; text-align: center; color: white; text-transform: uppercase; background: #00d700; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.kate .kate__info.kate__info_red { background: red; }
.kate .kate__text, .kate .kate__name { color: #0096ff; display: block; }
.kate .kate__name, .kate .kate__prise { font-size: 26px; }
.kate .rate__prise-old { padding-left: 12px; color: #7f7f7f; text-decoration: line-through; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.kate .kate__prise-red { font-size: 24px; color: #ff3333; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }

.discount { padding-left: 5px; color: #ee4023; }

.pay { position: relative; padding-top: 20px; *zoom: 1; }
.pay:after { content: " "; display: table; clear: both; }
.pay.pay_top:before { position: absolute; content: ""; top: 0; left: 0; width: 100%; height: 7px; background: #cce4ff; display: none !important; }
.pay.pay_top .pay__info { position: absolute; top: 0; right: 0; width: 80px; height: 80px; z-index: 1; border-bottom: 5px solid #aec9e8; display: none !important; background: url("../img/svg/pay-info.svg") no-repeat 0 0; -moz-background-size: 76px 81px 100%; -webkit-background-size: 76px 81px 100%; background-size: 76px 81px 100%; width: 76px; height: 81px; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.pay.pay_top .pay__info:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -30px 0 0 -30px; display: none !important; background: url("../img/svg/pay-info2.svg") no-repeat 0 0; -moz-background-size: 70px 60px 100%; -webkit-background-size: 70px 60px 100%; background-size: 70px 60px 100%; width: 70px; height: 60px; display: inline-block; }
.pay.pay_top .pay__info.is-active { background: #cce4ff; }
.pay.pay_top .pay__info.is-active:before { display: block !important; }
.pay.pay_top-warning .is-top { top: 255px; }
.pay .pay__row { margin-bottom: 40px; *zoom: 1; }
.pay .pay__row:after { content: " "; display: table; clear: both; }
.pay .pay__row.pay__row_mod { margin-bottom: 25px; }
.pay .pay__row.pay__border_block { display: none; }
.pay .pay__col { height: 40px; line-height: 40px; }
.pay .pay__left { padding-right: 30px; }
.pay .pay__border { border-bottom: 4px solid #e5e5e5; }
.pay .pay__titletop { height: 33px; font-size: 18px; line-height: 1.1; line-height: 33px; vertical-align: top; }
.pay .pay__title { font-size: 24px; font-family: "proximanova-bold", Arial, sans-serif; }
.pay .pay__text { padding: 15px 0 0 40px; }
.pay .pay__text a { margin-right: 20px; color: #0096ff; font-family: "proximanova-bold", Arial, sans-serif; }
.pay .discount { padding-left: 0; }
.pay .title { padding-bottom: 20px; }
.pay .media img { margin-right: 30px; }
.pay .media-heading { font-size: 24px; color: black; font-family: "proximanova-bold", Arial, sans-serif; }
.pay .pay__input { font-size: 0; }
.pay .input_28 { margin-left: 8%; display: inline-block; }
.pay .input_28:first-child { margin-left: 0; }
.pay .pay__warning { margin-bottom: 20px; }
.pay.pay_grey { background: #f2f2f2; }
.pay.pay_form { font-size: 16px; }
.pay.pay_form .input__row { margin-bottom: 17px; }

.warning { position: relative; padding: 15px; color: white; background: #ff7518; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.warning a { color: white; text-decoration: underline; font-family: "proximanova-bold", Arial, sans-serif; }
.warning a:hover { color: white; text-decoration: none; }
.warning .warning__btn { position: absolute; top: 15px; right: 15px; background: none; background: url("../img/svg/close-img.svg") no-repeat 0 0; -moz-background-size: 14px 13px 100%; -webkit-background-size: 14px 13px 100%; background-size: 14px 13px 100%; width: 14px; height: 13px; display: inline-block; }

.help { position: absolute !important; top: 143px; right: 0; bottom: 0; padding: 10px 30px 30px !important; background: #cce4ff; }
.help .help__title { font-family: "proximanova-bold", Arial, sans-serif; }
.help .help__list { counter-reset: list; }
.help .help__list li { position: relative; margin-top: 20px; padding: 7px 0 0 33px; }
.help .help__list li:before { counter-increment: list; content: counter(list); position: absolute; top: 0; left: 0; color: black; font-size: 42px; font-family: "proximanova-bold", Arial, sans-serif; }
.help .help__list li:first-letter { text-transform: uppercase; }
.help .help__bold { color: black; font-family: "proximanova-bold", Arial, sans-serif; }
.help .help__ico-f { margin-right: 3px; vertical-align: middle; display: inline-block; background: url('../img/icons-sb404010eb4.png') 0 -53px no-repeat; width: 18px; height: 17px; }
.help .help__row { text-align: center; }

.price { font-size: 24px; font-family: "proximanova-bold", Arial, sans-serif; }
.price del { font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.price.price_big { font-size: 34px; }

.setting { position: relative; background: #f2f2f2; border-bottom: 4px solid #d9d9d9; }
.setting .setting__btn { position: absolute; top: 18px; right: 20px; width: 9px; height: 13px; background: none; width: 0px; height: 0px; border-style: solid; border-width: 6.5px 0 6.5px 9px; border-color: transparent transparent transparent black; }
.setting .setting__item { padding: 12px 20px 12px 12px; cursor: pointer; display: none; }
.setting .setting__top { padding: 0 12px; height: 46px; line-height: 46px; cursor: pointer; }
.setting .setting__row { margin-top: 15px; font-size: 0; *zoom: 1; }
.setting .setting__row:after { content: " "; display: table; clear: both; }
.setting .setting__row:first-child { margin-top: 0; }
.setting .setting__title { width: 40%; color: #656565; }
.setting .setting__title:first-letter { text-transform: uppercase; }
.setting .setting__title, .setting .setting__text { font-size: 16px; vertical-align: top; display: inline-block; }
.setting .setting__text { padding-right: 10px; width: 60%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.order { padding-top: 40px; }
.order .order__title { margin: 30px 0 40px; padding-left: 15px; font-size: 36px; font-family: "proximanova-bold", Arial, sans-serif; }
.order .order__title.order__title_mod { padding: 0 50px 0 0; display: inline-block; }
.order .order__title_2 { font-size: 24px; font-family: "proximanova-bold", Arial, sans-serif; }
.order .order__title_2.order__title_mob { display: none; }
.order .order__item_mar { margin-bottom: 35px; *zoom: 1; }
.order .order__item_mar:after { content: " "; display: table; clear: both; }
.order .order__item .btn_mod { width: 100%; }
.order .order__btn { width: 178px; }
.order .order__btn .btn__ico { vertical-align: middle; background: url("../img/svg/settings-pic.svg") no-repeat 0 0; -moz-background-size: 22px 22px 100%; -webkit-background-size: 22px 22px 100%; background-size: 22px 22px 100%; width: 22px; height: 22px; display: inline-block; display: none; }
.order .order__checkbox { margin-bottom: 17px; }
.order .order__checkbox span { font-size: 18px; }
.order .order__text_link { padding: 25px 0 18px; }
.order .order__row .btn_green { padding: 0; width: 60px; vertical-align: super; }
.order .order__row .btn_green i { vertical-align: middle; display: inline-block; background: url("../img/svg/settings-pic.svg") no-repeat 0 0; -moz-background-size: 22px 22px 100%; -webkit-background-size: 22px 22px 100%; background-size: 22px 22px 100%; width: 22px; height: 22px; display: inline-block; }
.order .input .input__row_area { margin: 20px 0; height: 130px; }

.consist__mob { font-size: 14px; display: none; }
.consist__mob .consist__item { padding: 10px 0 30px 5px; border-top: 4px solid #f2f2f2; }
.consist__mob .consist__item:first-child { border: none; }
.consist__mob .consist__row { margin-top: 20px; }
.consist__mob .consist__title { font-size: 14px; font-family: "proximanova-bold", Arial, sans-serif; }

.radiobatton, .checkbox { position: relative; display: inline-block; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.radiobatton input, .checkbox input { position: absolute; left: 0; top: 4px; width: 24px; height: 24px; opacity: 0; z-index: 2; }
.radiobatton input:checked + span:before, .checkbox input:checked + span:before { background: #00aeff; border-color: #0094d9; }
.radiobatton input:checked + span:after, .checkbox input:checked + span:after { display: block; }
.radiobatton span, .checkbox span { position: relative; padding-left: 40px; line-height: 1.4; color: black; font-size: 24px; display: inline-block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; font-family: "proximanova-bold", Arial, sans-serif; }
.radiobatton span:before, .checkbox span:before { content: ""; position: absolute; left: 0; top: 4px; width: 24px; height: 24px; border: 1px solid #d9d9d9; background: white; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.radiobatton span:after, .checkbox span:after { display: none; content: ""; position: absolute; top: 11px; left: 7px; height: 10px; width: 10px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: black; }
.radiobatton span:hover:before, .checkbox span:hover:before { background: #f2f2f2 !important; }

.radiobatton input:checked + span:hover:before { background: #00aeff !important; }

.checkbox input { top: 0; }
.checkbox input:checked + span:before { border-color: #00b900; background: #00d700 !important; }
.checkbox input:checked + span:after { display: block; }
.checkbox span { height: 24px; line-height: 24px; font-size: 16px; font-weight: 400; cursor: pointer; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.checkbox span:before { top: 0; background: white !important; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; background: none; }
.checkbox span:after { top: 6px; left: 3px; background: url('../img/icons-sb404010eb4.png') 0 0 no-repeat; width: 18px; height: 13px; }

.input .input__row { height: 40px; }
.input .input__row.input__row_area { height: 80px; }
.input input, .input textarea { padding: 0 10px; height: 100%; width: 100%; font-size: 20px; border: 2px solid #d9d9d9; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.input input:-moz-placeholder, .input input::-moz-placeholder, .input textarea:-moz-placeholder, .input textarea::-moz-placeholder { color: black; opacity: 1; }
.input input::-webkit-input-placeholder, .input textarea::-webkit-input-placeholder { color: black; }
.input input:focus:-ms-input-placeholder, .input textarea:focus:-ms-input-placeholder { font-size: 0; }
.input input:focus:-moz-placeholder, .input textarea:focus:-moz-placeholder { font-size: 0; }
.input input:focus::-moz-placeholder, .input textarea:focus::-moz-placeholder { font-size: 0; }
.input input:focus::-webkit-input-placeholder, .input textarea:focus::-webkit-input-placeholder { font-size: 0; }
.input input:focus::placeholder, .input textarea:focus::placeholder { font-size: 0; }
.input textarea { padding: 8px 10px; line-height: 1.2; resize: none; }
.input.input_28 { width: 28%; }

.table th, .table td { border-top: none !important; }
.table th { font-size: 24px; font-family: "proximanova-bold", Arial, sans-serif; }

.filter { margin-bottom: 60px; }
.filter .filter__top { margin-bottom: 8px; *zoom: 1; }
.filter .filter__top:after { content: " "; display: table; clear: both; }
.filter .filter__top .select__text { padding-left: 115px; }
.filter .filter__top .select__list { padding: 0 15px; }
.filter .filter__row { margin-bottom: 10px; }
.filter .select-2 { position: relative; }
.filter .select-2 .select__name { position: absolute; left: 16px; top: 50%; margin-top: -10px; height: 20px; line-height: 20px; font-size: 16px; color: #666666; z-index: 1; }
.filter .filter__select-2 { width: 330px; }
.filter .filter__select-2 .select__list { padding: 0 8px; }
.filter .filter__setting { display: none; *zoom: 1; }
.filter .filter__setting:after { content: " "; display: table; clear: both; }
.filter .filter__text { font-size: 20px; }
.filter .filter__item .btn { width: 100%; }
.filter .filter__item_mob { display: none; }
.filter .filter__closebtn { position: absolute; top: 10px; right: 15px; background: url("../img/svg/close-black.svg") no-repeat 0 0; -moz-background-size: 20px 20px 100%; -webkit-background-size: 20px 20px 100%; background-size: 20px 20px 100%; width: 20px; height: 20px; display: inline-block; }
.filter .filter__block { position: fixed; top: 0; left: 0; right: 0; bottom: 0; padding: 70px 20px 20px; z-index: 4; overflow: auto; background: white; display: none; }
.filter .filter__block .filter__closebtn { position: absolute; top: 20px; right: 20px; }
.filter .filter__block .btn, .filter .filter__block .checkbox { width: 100%; }
.filter .filter__block .filter__pref { position: absolute; top: 20px; left: 20px; background: url("../img/svg/arr-filter.svg") no-repeat 0 0; -moz-background-size: 14px 22px 100%; -webkit-background-size: 14px 22px 100%; background-size: 14px 22px 100%; width: 14px; height: 22px; display: inline-block; }

.index-ul { padding: 60px 0; }

.filter__item_open .select-2 .select__list { position: relative; z-index: 1; display: block; }

.footer { color: #b2b2b2; font-size: 16px; overflow: hidden; background: #333333; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer a { color: #b2b2b2; text-decoration: none; }
.footer a:hover { text-decoration: underline; }
.footer p { line-height: 1.4; }
.footer .footer_copy { padding-left: 5px; color: #b2b2b2; font-size: 16px; display: inline-block; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
.footer .footer__title-1, .footer .footer__title-2 { padding: 5px 0; color: white; display: block; font-family: "proximanova-bold", Arial, sans-serif; }
.footer .footer__title-1:first-letter, .footer .footer__title-2:first-letter { text-transform: uppercase; }
.footer .footer__title-1 { font-size: 16px; }
.footer .footer__title-2 { font-size: 18px; }
.footer .footer__title-2_inl { display: inline-block; }
.footer .footer__item { padding: 60px 0 70px 28px; }
.footer .footer__item_visible { display: none; }
.footer .footer__item_visible ul { margin-left: 8px; }
.footer .footer__item_hidden, .footer .footer__item_right { float: right !important; }
.footer .foorer__row { margin-bottom: 40px; }
.footer .footer__item_first { float: left; padding-bottom: 300px; background: #1a1a1a; }
.footer .footer__list li { padding: 5px 0; }
.footer .footer__list li a:hover { color: #b2b2b2; }
.footer .soc { margin-top: 30px; text-align: left; }
.footer .soc li { margin-bottom: 24px; margin-right: 32px; }
.footer .soc .soc__ico_vk { background: url("../img/svg/vk-2.svg") no-repeat 0 0; -moz-background-size: 22px 29px 100%; -webkit-background-size: 22px 29px 100%; background-size: 22px 29px 100%; width: 22px; height: 29px; display: inline-block; }
.footer .soc .soc__ico_fb { background: url("../img/svg/fb-2.svg") no-repeat 0 0; -moz-background-size: 16px 33px 100%; -webkit-background-size: 16px 33px 100%; background-size: 16px 33px 100%; width: 16px; height: 33px; display: inline-block; }
.footer .soc .soc__ico_ins { background: url("../img/svg/ins-2.svg") no-repeat 0 0; -moz-background-size: 30px 30px 100%; -webkit-background-size: 30px 30px 100%; background-size: 30px 30px 100%; width: 30px; height: 30px; display: inline-block; }
.footer .soc .soc__ico_g { background: url("../img/svg/g-2.svg") no-repeat 0 0; -moz-background-size: 35px 33px 100%; -webkit-background-size: 35px 33px 100%; background-size: 35px 33px 100%; width: 35px; height: 33px; display: inline-block; }
.footer .soc .soc__ico_mail { background: url("../img/svg/mail-2.svg") no-repeat 0 0; -moz-background-size: 33px 28px 100%; -webkit-background-size: 33px 28px 100%; background-size: 33px 28px 100%; width: 33px; height: 28px; display: inline-block; }

@media screen and (max-width: 1200px) { .soc li { margin-right: 21px !important; }
  .navbar { width: 211px; }
  .navbar a { font-size: 24px; }
  .price.price_big { font-size: 26px; }
  .order .order__title_2 { font-size: 20px; } }
@media screen and (max-width: 992px) { .container { width: 100% !important; }
  .header { height: 80px; }
  .header .container { position: initial; }
  .header__logo { top: 10px !important; width: 105px !important; height: 60px !important; }
  .header__info { display: none !important; }
  .header-btn { display: block !important; }
  .menu { display: none; }
  .breadcrumbs { display: none; }
  .product { margin-top: 60px; }
  .product .product__title { font-size: 26px; }
  .product .buy__text { font-size: 26px; }
  .navbar { width: 234px; }
  .title { font-size: 36px; }
  .field__top { margin-bottom: 30px; }
  .tabbable li a { font-size: 16px !important; }
  .nav__text1 { display: none; }
  .nav__text2 { display: block !important; }
  .reviewsform__all, .reviewsform__quantity { font-size: 16px; }
  .reviewsform__row .btn { font-size: 16px; }
  .media_resp { display: none; }
  .kate .kate__name, .kate .kate__prise { font-size: 20px; }
  .footer__item { float: left !important; }
  .footer__item_first { float: right !important; padding-bottom: 60px !important; }
  .footer__item_hidden { display: none; }
  .footer__item_visible { display: block !important; }
  .footer .about { display: none; }
  .footer .contacts { display: none; }
  .footer .phone, .footer .mail { width: 100%; color: #b2b2b2; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
  .footer .footer__in { padding-right: 20px; }
  .footer .footer__in .footer__title-1 { color: #b2b2b2; font-family: "Proxima-Nova-Regular", Arial, sans-serif; }
  .help { display: none; }
  .pay .price { font-size: 19px; }
  .pay .price_big { font-size: 24px; }
  .pay.pay_top:before, .pay.pay_top .pay__info { display: block !important; }
  .pay.pay_top .help { top: 0; left: 0; }
  .pay__row .price, .pay__row .discount { font-size: 18px; }
  .filter .filter__top { margin-top: 22px; } }
@media screen and (max-width: 768px) { .field__top, .field__top_grey { position: relative; padding: 30px 40px 30px 15px !important; color: white; margin: 40px 0 !important; background: black !important; }
  .field__top .title, .field__top_grey .title { margin: 0 !important; font-size: 26px !important; }
  .title { font-size: 26px !important; }
  .field_grey { background: none !important; }
  .article { margin-bottom: 0; }
  .select-2_mod { display: block !important; }
  .media-text { margin: 20px 0 40px; }
  .media-body { overflow: initial !important; }
  .media-heading { padding-top: 10px; }
  .btn-top { position: absolute; right: 15px; top: 50%; margin-top: -6px !important; background: url("../img/svg/pic-scr-top2.svg") no-repeat 0 0; -moz-background-size: 20px 13px 100%; -webkit-background-size: 20px 13px 100%; background-size: 20px 13px 100%; width: 20px; height: 13px; display: inline-block; }
  .btn-top.btn-top_mod { margin-right: -15px; }
  .btn_resp { width: 100%; }
  .footer__item { padding: 0 20px !important; }
  .footer__item_first { padding-bottom: 60px !important; }
  .footer__item_visible { margin: 60px 0 0 0; }
  .soc { margin: 40px 0 !important; }
  .buy .buy__text { margin-left: 15px !important; }
  .pay__row_top { display: none; }
  .pay__row .media { width: 100%; margin-bottom: 15px; }
  .pay__row .media img { margin-right: 15px; }
  .pay__row .media .media-body { padding-right: 0; *zoom: 1; }
  .pay__row .media .media-body:after { content: " "; display: table; clear: both; }
  .pay__row .media .pull-left { padding-left: 0; margin-right: 0; }
  .pay__row .media .media-heading { width: 70%; padding-top: 0; font-size: 18px; }
  .pay__row .input_mar, .pay__row .price, .pay__row .discount { margin-left: -15px !important; }
  .pay__row .input { margin-top: 22px; }
  .pay__row .price, .pay__row .discount { font-size: 16px; }
  .pay__row .pay__col, .pay__row .price { height: auto; line-height: 1.4; }
  .pay__row .pay__title { font-size: 18px; }
  .pay__row .radiobatton span { font-size: 18px; }
  .pay__row .pay__text { display: none; }
  .pay__row .pay__input { padding-bottom: 22px; }
  .pay__row .col-grey { padding-top: 1px; background: #d9d9d9; }
  .pay__row .pay__title_mob { padding: 27px 0 0; }
  .pay__row.pay__row_form { margin-bottom: 0; }
  .pay__row.pay__border_none { display: none; }
  .pay__row.pay__border_block { display: block !important; }
  .deliv { margin-bottom: 8px !important; }
  .deliv .col-grey { height: 80px; line-height: 80px; }
  .deliv .col-grey .price { vertical-align: middle; display: inline-block; }
  .deliv .radiobatton span { vertical-align: middle; }
  .deliv .radiobatton span:before, .deliv .radiobatton span:after { top: 50%; margin-top: -12px; }
  .deliv .radiobatton span:after { margin-top: -5px; }
  .deliv .radiobatton input { top: 50%; margin-top: -12px; }
  .pay_form .pay__row { margin-bottom: 0; }
  .pay_form .pay__row .input { margin-top: 0; }
  .pay_form .pay__row .input textarea { font-size: 16px; height: 100px; }
  .pay_form .pay__row p { display: none; }
  .pay_form .btn { margin-top: 38px; width: 100%; }
  .order .order__btn { padding: 0; width: 60px; vertical-align: super; }
  .order .order__btn .btn__ico { display: inline-block; }
  .order .btn__text { display: none; }
  .order .table { display: none; }
  .order .order__title { font-size: 20px; }
  .order .consist__mob { display: block; }
  .order .consist__mob .price { font-size: 16px; }
  .order .row-xs { margin-bottom: 24px; *zoom: 1; }
  .order .row-xs:after { content: " "; display: table; clear: both; }
  .order .row-xs .col-xs-12 { margin-bottom: 12px; }
  .order .row-xs .order__title_2, .order .row-xs .order__text { float: left; width: 50%; }
  .order .order__title_2 { font-size: 14px; }
  .order .order__title_2.order__title_mob { display: block; }
  .order .order__text { font-size: 14px; }
  .filter .filter__item, .filter .filter__sorting { display: none; }
  .filter .filter__item_desc { display: none; }
  .filter .filter__setting { float: left; width: 100%; display: block; }
  .filter .filter__top .title { width: 100%; }
  .filter .filter__item { padding-top: 45px; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: white; z-index: 3; } }
.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 50%; }
.l .l-col2 { float: right; width: 50%; }

.topic { font-size: 42px; line-height: 1.1; background: url(../img/topic-bg-right.png) no-repeat 101% 50%, url(../img/topic-bg-left.png) no-repeat 0 50%; background-size: contain; font-family: "proximanova-bold", Arial, sans-serif; *zoom: 1; }
.topic:after { content: " "; display: table; clear: both; }
.topic .container { padding: 50px 90px 50px 30px; }

.category { font-size: 0; }
.category .category__item { position: relative; width: 20%; overflow: hidden; display: inline-block; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.category .category__item:hover img { opacity: 1; }
.category .category__item img { width: 100%; opacity: 0.7; display: block; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.category .category__link, .category .category__prise { position: absolute; top: 0; left: 0; height: 100%; width: 100%; text-transform: uppercase; color: white; display: inline-block; text-align: center; font-size: 0; font-size: 30px; font-family: "proximanova-bold", Arial, sans-serif; }
.category .category__link:before, .category .category__prise:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.category .category__link span, .category .category__prise span { line-height: 1.1; display: inline-block; vertical-align: middle; }
.category .category__prise { height: 160%; font-size: 16px; text-align: left; display: none; }
.category .category__item_lime { background: #a1ba00; }
.category .category__item_light-green { background: #007a5b; }
.category .category__item_blue { background: #2852af; }
.category .category__item_light-blue { background: #28a2b0; }
.category .category__item_green { background: #2f7900; }
.category .category__item_azure { background: #0078ff; }
.category .category__item_red { background: #b4001a; }

.clause { padding: 60px 0 30px; font-size: 0; *zoom: 1; }
.clause:after { content: " "; display: table; clear: both; }
.clause .title { padding-bottom: 25px; }
.clause .clause__item { float: none; margin-bottom: 35px; color: #0096ff; vertical-align: top; text-decoration: none; display: inline-block; }
.clause .clause__row { margin: 10px 0; }
.clause .clause__top { position: relative; margin-bottom: 20px; overflow: hidden; display: block; }
.clause .clause__top:hover { background: black; }
.clause .clause__top:hover .clause__play { background: #cc181e; }
.clause .clause__top:hover img { opacity: 0.95; }
.clause .clause__top img { width: 100%; display: block; }
.clause .clause__top .clause__play { position: absolute; top: 50%; left: 50%; margin: -25px 0 0 -33px; width: 66px; height: 50px; background: #1d1d1d; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.clause .clause__top .clause__play:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -9px 0 0 -4px; width: 0px; height: 0px; border-style: solid; border-width: 9.5px 0 9.5px 15px; border-color: transparent transparent transparent white; }
.clause .clause__top .clause__die { position: absolute; bottom: -17%; right: -70%; height: 35%; width: 142%; background: #4a99ce; -ms-transform: rotate(-16deg); -webkit-transform: rotate(-16deg); transform: rotate(-16deg); }
.clause .clause__top .clause__text { position: absolute; top: 0; left: 0; height: 35%; width: 100%; color: white; display: inline-block; text-align: center; font-size: 0; }
.clause .clause__top .clause__text:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.clause .clause__top .clause__text:first-letter { text-transform: uppercase; }
.clause .clause__top .clause__country { font-size: 32px; }
.clause .clause__top .clause__city { font-size: 20px; }
.clause .clause__top .clause__price { font-size: 24px; }
.clause .clause__name, .clause .clause__title, .clause .clause__country { font-family: "proximanova-bold", Arial, sans-serif; }
.clause .clause__name { font-size: 16px; }
.clause .clause__title { font-size: 24px; line-height: 1.1; }
.clause .clause__text { font-size: 18px; color: black; }
.clause .clause__text.clause__text_price { padding-top: 15px; }
.clause.clause_news .clause__name { font-size: 20px; }
.clause.clause_news .clause__title { font-size: 32px; }
.clause.clause_news .clause__text { font-size: 18px; }
.clause.clause_school { background: #f2f2f2; }
.clause.clause_tour .clause__country { font-size: 48px; }

@media screen and (max-width: 992px) { .topic { background-size: cover; }
  .category .category__item { width: 50%; height: 127px; text-align: right; }
  .category .category__item img { float: right; height: 100%; width: auto; }
  .category .category__item br { display: none; }
  .category .category__link { height: 80%; padding-left: 17px; font-size: 24px; text-align: left; }
  .category .category__prise { padding-left: 17px; display: block; }
  .clause .clause__top .clause__country { font-size: 32px; } }
@media screen and (max-width: 768px) { .category .category__item { height: 81px; width: 100%; } }
@media screen and (max-width: 322px) { .topic { display: none; } }
