// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

+font(proximanova-regular, proximanova-regular-webfont)  
=pr
	font-family: "proximanova-regular", Arial, sans-serif 

+font(proximanova-bold, proximanova-bold-webfont-webfont)  
=pb
	font-family: "proximanova-bold", Arial, sans-serif 
	font-weight: bold

+font(proximanova-light, proximanova-light-webfont)  
=pl
	font-family: "proximanova-light", Arial, sans-serif 

$white: #fff
$black: #000
$grey: #353535
$blue: #0096FF

body
	font-size: 18px !important
	line-height: 1.4
	font-family: "proximanova-regular", Arial, sans-serif !important


// common blocks 

//out
.out
	a
		text-decoration: none
		&:hover
			text-decoration: underline
//wrapper
.wrapper
	margin: 0 auto
	padding: 0 20px
	width: 1110px
	+box
//header
.header
	height: 84px
	background: $grey
	+clr
	.container
		position: relative
		+box
	.header__logo
		position: absolute
		left: 20px
		top: 20px
		display: inline-block
		+svg(logo, 150, 136)
	.header__phone
		color: $white
	.header__mail
		color: $blue
	.header__menu
		float: right
	.header__info
		padding-top: 16px
		line-height: 1.4
		text-align: center
		display: inline-block
		vertical-align: middle

//menu
.menu
	height: 84px
	line-height: 84px
	font-size: 0
	.menu__item
		margin-left: 20px
		vertical-align: middle
		display: inline-block
		+box
		&:first-child
			margin-left: 0
	a
		color: $white
		font-size: 20px
		+pb
		&:hover
			color: $white

//breadcrumbs
.breadcrumbs
	padding: 53px 0 35px
	li
		float: left
		display: block
		a
			color: $blue
			font-size: 16px
			display: block
		span
			padding: 0 5px

//btn
.btn
	position: relative
	padding: 0 33px 0 24px
	height: 50px
	color: $white
	line-height: 50px
	font-size: 18px
	+border-radius(0 !important)
	+transition(all 0.2s linear) 
	+pb
	&:active
		top: -1px
	&.btn_blue
		background: #007deb
		+box-shadow(inset 0 -4px 0 #0068c4)
	&.btn_green
		background: #00d700
		+box-shadow(inset 0 -4px 0 #00b900)
	&:hover
		+opacity(.8)
		+box-shadow(none)

//product
.product
	margin-bottom: 60px
	.slider
		position: relative
		margin: 10px 0 33px
		width: 100%
		border: 3px solid #b8b8b8
		+box
	.slick-slide
		background: $white
		img
			width: 100%
			display: block
	.slick-dots
		display: none
	.slick-next, .slick-prev
		position: absolute
		top: 50%
		margin-top: -17px
		&:hover
			+opacity(.9)
		&:before
			display: none
	.slick-prev
		left: -3px
		+svg(slick-prev, 34, 34)
	.slick-next
		right: -3px
		+svg(slick-next, 34, 34)
	.product__right
		padding-left: 30px
		+box
	.product__title
		font-size: 36px
		color: $black
		letter-spacing: -0.1px
		+pb
	.availability
		position: relative
		margin: 40px 0
		padding-left: 42px
		color: #666666
		.availability__ico
			position: absolute
			top: -3px
			left: 0
			height: 28px
			width: 28px
			background: #00d700
			+border-radius(50%)
			display: block
			&:before
				position: absolute
				content: ''
				top: 50%
				left: 50%
				margin: -6px 0 0 -9px
				+s(availability-ico)


//characteristics
.characteristics
	margin: 40px 0
	.characteristics__row
		margin-bottom: 10px
		height: 50px
		line-height: 50px
	.characteristics__name
		// min-width: 88px
		font-size: 18px
		color: #656565
	.characteristics__name, .select
		vertical-align: top
		display: inline-block
	// .select
	// // 	width: 100%
	// 	max-width: 330px

//select
.select
	position: relative
	cursor: pointer
	font-size: 18px
	width: 100%
	.select_white
		background: #fff 
	.select__text
		position: relative
		display: block
		padding: 0 15px
		height: 50px
		line-height: 50px
		white-space: nowrap
		overflow: hidden
		background: #f2f2f2
		+box-shadow(inset 0 -5px 0 #d9d9d9)
		text-overflow: ellipsis
		&:after
			content: ""
			position: absolute
			right: 20px
			top: 50%
			margin-top: -3px
			width: 0px
			height: 0px
			border-style: solid
			border-width: 10px 6px 0 6px
			border-color: #000 transparent transparent transparent
	.select__list
		position: absolute
		display: none
		left: 0
		right: 0
		top: 100%
		z-index: 100
		border-top: 0 
		max-height: 200px
		overflow-x: hidden
		overflow-y: auto
		background: #d9d9d9
		li
			padding: 5px 11px 
			cursor: pointer
			line-height: 1
			&:hover
				background: #717791
				color: #fff 
//buy
.buy
	.buy__row
		margin-bottom: 20px
	.buy__text
		margin-left: 30px
		font-size: 36px
		display: inline-block
		+pb
		span, del
			font-weight: 400
			+pr
	.btn
		padding: 0
		height: 60px
		width: 150px
		text-align: center
		font-size: 26px

//soc
.soc
	font-size: 0
	text-align: center
	li
		margin-right: 34px
		height: 40px
		line-height: 40px
		display: inline-block
	.soc__ico
		position: relative
		vertical-align: middle
		display: inline-block
		+transition(all 0.1s linear)
		&:hover 
			+opacity(.8)
	.soc__ico_vk
		+svg(vk, 23, 29)
	.soc__ico_fb
		+svg(fb, 16, 33)
	.soc__ico_ins
		+svg(ins, 31, 31)
	.soc__ico_g
		+svg(g, 35, 32)
	.soc__ico_mail
		+svg(mail, 33, 28)

//nav
// .nav
// 	width: 270px
// 	.nav__item
// 		height: 60px
// 		line-height: 60px
// 		list-style-type: none
// 		+transition(0.1s)
// 		&.is-active,
// 		&:hover
// 			background: $black
// 			a
// 				color: $white
// 				text-decoration: none
// 	a
// 		padding: 0 30px
// 		color: $blue
// 		font-size: 26px
// 		display: block
// 		+box
// 		+pb
// 	.is-fixed
// 		position: fixed