// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div 
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


+font(Proxima-Nova-Regular, Proxima-Nova-Regular)  
=pr
	font-family: "Proxima-Nova-Regular", Arial, sans-serif 

+font(proximanova-bold, proximanova-bold)  
=pb
	font-family: "proximanova-bold", Arial, sans-serif 

+font(proximanova-light, proximanova-light-webfont)  
=pl
	font-family: "proximanova-light", Arial, sans-serif  

$white: #fff
$black: #000
$grey: #353535
$blue: #0096FF

body
	font-size: 18px
	line-height: 1.4
	+pr


// common blocks 

//out
.out
	a
		text-decoration: none
		&:hover
			text-decoration: underline
//wrapper
.wrapper
	margin: 0 auto
	padding: 0 20px
	width: 1110px
	+box
//header
.header
	position: relative
	height: 84px
	background: $grey
	+clr
	.container
		position: relative
		+box
	.header__logo
		position: absolute
		left: 20px
		top: 20px
		z-index: 3
		display: inline-block
		+svg(logo, 150, 136)
	.header__phone
		color: $white
	.header__mail
		color: $blue
	.header__menu
		float: right
	.header__info
		padding-top: 16px
		line-height: 1.4
		text-align: center
		display: inline-block
		vertical-align: middle
	.header__ico_menu
		right: 0
		+svg(menu, 80, 80)
	.header__ico_basket
		right: 80px
		+svg(basket, 80, 80)
	.header__ico
		position: absolute
		top: 0
		cursor: pointer
		display: none

//menu
.menu
	height: 84px
	line-height: 84px
	font-size: 0
	.menu__item
		margin-left: 20px
		vertical-align: middle
		display: inline-block
		+box
		&:first-child
			margin-left: 0
	a
		color: $white
		font-size: 20px
		+pb
		&:hover
			color: $white

//breadcrumbs
.breadcrumbs
	padding: 53px 0 35px
	li
		float: left
		display: block
		a
			color: $blue
			font-size: 16px
			display: block
		span
			padding: 0 5px

//btn
.btn
	position: relative
	padding: 0 33px 0 24px
	height: 50px
	color: $white
	line-height: 50px
	font-size: 18px
	+border-radius(0 !important)
	+transition(all 0.2s linear) 
	+pb
	&:active
		top: -1px
	&.btn_blue
		background: #007deb
		+box-shadow(inset 0 -4px 0 #0068c4)
	&.btn_green
		background: #00d700
		+box-shadow(inset 0 -4px 0 #00b900)
	&:hover
		+opacity(.8)
		+box-shadow(none)
	&:focus
		outline: none !important 
.btn-top
	display: inline-block
	+svg(pic-scr-top, 22, 14)

//product
.product
	margin-bottom: 60px
	+clr
	.slider
		position: relative
		margin: 0 0 33px
		width: 100%
		border: 3px solid #b8b8b8
		+box
	.slick-slide
		background: $white
		img
			width: 100%
			display: block
	.slick-dots
		display: none
	.slick-next, .slick-prev
		position: absolute
		top: 50%
		margin-top: -17px
		&:hover
			+opacity(.9)
		&:before
			display: none
	.slick-prev
		left: -3px
		+svg(slick-prev, 34, 34)
	.slick-next
		right: -3px
		+svg(slick-next, 34, 34)
	.product__right
		padding-left: 30px
		+box
	.product__title
		margin: 0
		font-size: 36px
		color: $black
		letter-spacing: -0.1px
		+pb
	.availability
		position: relative
		margin: 40px 0
		padding-left: 42px
		color: #666666
		.availability__ico
			position: absolute
			top: -3px
			left: 0
			height: 28px
			width: 28px
			background: #00d700
			+border-radius(50%)
			display: block
			&:before
				position: absolute
				content: ''
				top: 50%
				left: 50%
				margin: -6px 0 0 -9px
				+s(availability-ico)


//characteristics
.characteristics
	margin: 40px 0
	.characteristics__row
		margin-bottom: 10px
		height: 50px
		line-height: 50px
	.characteristics__name
		// min-width: 88px
		font-size: 18px
		color: #656565
	.characteristics__name, .select
		vertical-align: top
		display: inline-block
	// .select
	// // 	width: 100%
	// 	max-width: 330px

//select
.select
	position: relative
	width: 100% !important
	height: 50px !important
	line-height: 50px !important
	white-space: nowrap
	border: none !important
	background: #f2f2f2 !important
	+box-shadow(inset 0 -5px 0 #d9d9d9 !important)
	text-overflow: ellipsis
	&:focus
		outline: none !important
	.caret
		content: ""
		position: absolute
		right: 20px !important
		top: 50% !important
		margin-top: -3px !important
		width: 0px
		height: 0px
		border-style: solid
		border-width: 10px 6px 0 6px
		border-color: #000 transparent transparent transparent
	.dropdown-toggle
		padding: 0 15px !important
		width: 100%
		color: $black
		font-size: 18px
		text-align: left
		background: none
		+pr
	.btn, .dropdown-toggle, .selectpicker.btn-info
		border: none !important
		&:focus
			border: none !important
			outline: none !important
	span, a
		outline: none !important
		color: $black !important
		font-size: 18px
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info
	top: 0
	border: none !important
	outline: none !important
	background: none !important
	+box-shadow(inset 0 -5px 0 #d9d9d9 !important)


//select-2
.select-2
	position: relative
	cursor: pointer
	font-size: 12px
	display: none
	.select_white
		background: #fff 
	.select__text
		position: relative
		padding: 0 15px
		height: 50px
		line-height: 50px
		white-space: nowrap
		font-size: 16px
		border: none
		background: #f2f2f2
		+box-shadow(inset 0 -5px 0 #d9d9d9)
		text-overflow: ellipsis
		display: block
		&:after
			content: ""
			position: absolute
			right: 20px !important
			top: 50% !important
			margin-top: -3px !important
			width: 0px
			height: 0px
			border-style: solid
			border-width: 10px 6px 0 6px
			border-color: #000 transparent transparent transparent
	.select__list
		position: absolute
		display: none
		left: 0
		right: 0
		top: 100%
		z-index: 100
		max-height: 200px
		overflow-x: hidden
		overflow-y: auto
		background: #d9d9d9
		li
			cursor: pointer
			line-height: 1
			&.active,
			&:hover
				background: #717791
				a
					background: none !important
					text-decoration: none
					color: $white !important
					+box-shadow(none)
			a
				padding: 5px 11px  !important
				line-height: 1
				font-size: 16px
				text-align: center
				display: block

//buy
.buy
	.buy__row
		margin-bottom: 20px
	.buy__text
		margin-left: 30px
		font-size: 36px
		display: inline-block
		+pb
		span, del
			font-weight: 400
			+pr
	.btn
		padding: 0
		height: 60px
		width: 150px
		text-align: center
		font-size: 26px

//soc
.soc
	font-size: 0
	text-align: center
	li
		margin-right: 34px
		height: 40px
		line-height: 40px
		display: inline-block
	.soc__ico
		position: relative
		vertical-align: middle
		display: inline-block
		+transition(all 0.1s linear)
		&:hover 
			+opacity(.8)
	.soc__ico_vk
		+svg(vk, 23, 29)
	.soc__ico_fb
		+svg(fb, 16, 33)
	.soc__ico_ins
		+svg(ins, 31, 31)
	.soc__ico_g
		+svg(g, 35, 32)
	.soc__ico_mail
		+svg(mail, 33, 28)

.title
	font-size: 42px
	+pb
//field
.field
	&.field_grey
		background: #f2f2f2
	.field__top_grey
		padding: 60px 0 0
		background: #f2f2f2
		.title
			margin-bottom: 40px
	.field__top
		margin: 60px 0 40px
	.btn-top
		margin-top: 23px
	.field__row
		margin-top: 40px

.article
	margin-bottom: 60px
	+clr
	.media-body
		font-size: 18px
		p
			margin-top: 8px
	.media-heading
		font-size: 16px
		color: $blue 
		+pb
	img
		margin-right: 28px
	.date
		padding-left: 6px
		font-size: 16px
		line-height: 1


//tabbable
.tabbable
	.nav-tabs
		border-bottom: none
	li
		a
			padding: 18px !important
			color: $blue
			font-size: 18px !important
			border: none !important
			border-radius: 0 !important
			+transition(all 0.2s linear)
			+pb
		&:hover,
		&.active
			a
				color: $black !important
				background: $white !important
				+box-shadow(inset 0 4px 0 #e5e5e5)
	.nav__text2
		display: none
	.tab-content
		.article
			margin-top: 40px

//date
.date
	color: #999999
	line-height: 1
	vertical-align: top
	display: inline-block

.reviews-form
	margin-top: 40px
.reviewsform__title
	margin-bottom: 10px
	color: #222222
	line-height: 1
	font-size: 16px
	+pb
.reviewsform__area
	height: 94px !important
	color: #222222 !important
	font-size: 18px !important
	border: 2px solid #bfbfbf !important
	border-radius: 0 !important
	resize: none
.reviewsform__row
	margin-top: 30px
.reviewsform__link
	height: 50px
	line-height: 50px
.reviewsform__all
	color: $blue
	+pb
.reviewsform__quantity
	color: #999999
.reviewsform__all, .reviewsform__quantity
	font-size: 18px 
	line-height: 1
	vertical-align: middle
	display: inline-block
.col-60
	width: 60px
	height: 60px
	margin-right: 28px

//characteristic
.characteristic
	.media-heading
		color: $black
		font-size: 20px
		+pb
	.media__ico
		margin-right: 30px !important
		display: inline-block
		&.media__ico_1
			+svg(char_ico2, 60, 60)
		&.media__ico_2
			+svg(char_ico1, 60, 60)
//photo
.photo
	.photo__img
		margin-bottom: 30px
		img
			width: 100%
			display: block
	.photo__row
		margin-top: 10px

//brand
.brand
	.brand__img
		padding-bottom: 35px
		text-align: center
		img
			display: inline-block

//nav
.navbar
	width: 270px
	.navbar__item
		height: 60px
		line-height: 60px
		list-style-type: none
		+transition(0.1s)
	a
		padding: 0 30px
		color: $blue
		font-size: 26px
		display: block
		+box
		+pb
		&.is-active,
		&:hover
			color: $white
			text-decoration: none
			background: $black
	&.is-fixed
		position: fixed
		top: 20px

//kate
.kate
	margin-bottom: 55px
	+pb
	.kate__img
		margin-bottom: 20px
		font-size: 18px
		border: 2px solid #e5e5e5
		display: block
		img
			width: 100%
			display: block
	.kate__text, .kate__name
		color: $blue
	.kate__name, .kate__prise
		font-size: 26px
	.rate__prise-old
		padding-left: 12px
		color: #7F7F7F
		text-decoration: line-through
		+pr

.discount
	padding-left: 5px
	color: #ee4023

//footer
.footer
	color: #B2B2B2
	font-size: 16px
	overflow: hidden
	background: #333
	+clr
	a
		color: #B2B2B2
		text-decoration: none
		&:hover
			text-decoration: underline
	p
		line-height: 1.4
	.footer_copy
		padding-left: 5px
		color: #B2B2B2
		font-size: 16px
		display: inline-block
		+pr
	.footer__title-1, .footer__title-2
		padding: 5px 0
		color: $white
		display: block
		+pb
		&:first-letter
			text-transform: uppercase
	.footer__title-1
		font-size: 16px
	.footer__title-2
		font-size: 18px
	.footer__title-2_inl
		display: inline-block
	.footer__item
		padding: 60px 0 70px 28px
	.footer__item_visible
		display: none
		ul
			margin-left: 8px
	.footer__item_hidden, .footer__item_right
		float: right !important
	.foorer__row
		margin-bottom: 40px
	.footer__item_first	
		float: left
		padding-bottom: 300px
		background: #1a1a1a
	.footer__list
		li
			padding: 5px 0
			a
				&:hover
					color: #B2B2B2
	.soc
		margin-top: 30px
		text-align: left
		li
			margin-bottom: 24px
			margin-right: 32px
		.soc__ico_vk
			+svg(vk-2, 22, 29)
		.soc__ico_fb
			+svg(fb-2, 16, 33)
		.soc__ico_ins
			+svg(ins-2, 30, 30)
		.soc__ico_g
			+svg(g-2, 35, 33)
		.soc__ico_mail
			+svg(mail-2, 33, 28)


// max-width 1200
@media screen and (max-width: 1200px)
	.soc
		li
			margin-right: 21px !important

// max-width 992
@media screen and (max-width: 992px)
	.container
		width: 100% !important
	.header
		height: 80px
		.container	
			position: initial
	.header__logo
		top: 10px !important
		width: 105px !important
		height: 60px !important
	.header__info
		display: none !important
	.header__ico
		display: block !important
	.menu
		position: absolute !important
		top: 80px
		left: 0
		right: 0
		margin: 0 !important
		height: auto
		background: #363636
		z-index: 2
		display: none
		.menu__item
			float: none
			margin: 0
			text-align: center
			display: block
	.breadcrumbs
		display: none
	.product
		margin-top: 60px
		.product__title
			font-size: 26px
		.buy__text
			font-size: 26px
	.navbar
		width: 234px
	.title
		font-size: 36px
	.field__top
		margin-bottom: 30px
	.tabbable li a
		font-size: 16px !important
	.nav__text1
		display: none
	.nav__text2
		display: block !important
	.reviewsform__all, .reviewsform__quantity
		font-size: 16px
	.reviewsform__row
		.btn
			font-size: 16px
	.media_resp
		display: none
	.kate .kate__name, .kate .kate__prise
		font-size: 20px
	.footer__item
		float: left !important
	.footer__item_first
		float: right !important
		padding-bottom: 60px !important
	.footer__item_hidden
		display: none
	.footer__item_visible
		display: block !important
	.footer
		.about
			display: none
		.contacts
			display: none
		.phone, .mail
			margin-top: 40px
			width: 50%
		.phone
			float: left
		.mail
			float: right

@media screen and (max-width: 768px)
	.field__top, .field__top_grey
		position: relative
		padding: 30px 40px 30px 15px !important
		color: $white
		margin: 40px 0 !important
		background: $black!important
		.title
			margin: 0 !important
			font-size: 26px !important
	.title
		font-size: 26px !important
	.field_grey
		background: none !important
	.article
		margin-bottom: 0
	.select-2
		display: block !important
	.media-text
		margin: 20px 0 40px
	.media-body
		overflow: initial !important
	.media-heading
		padding-top: 10px
	.btn-top
		position: absolute
		right: 15px
		top: 50%
		margin-top: -6px !important
		+svg(pic-scr-top2, 20, 13)
		&.btn-top_mod
			margin-right: -15px
	.footer__item 
		padding: 0 20px !important
	.footer__item_visible
		margin: 60px 0 0 0
	.soc
		margin: 40px 0 !important
	.buy .buy__text
		margin-left: 15px !important
	.footer
		padding-bottom: 60px !important