// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div 
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


+font(Proxima-Nova-Regular, Proxima-Nova-Regular)  
=pr
	font-family: "Proxima-Nova-Regular", Arial, sans-serif 

+font(proximanova-bold, proximanova-bold)  
=pb
	font-family: "proximanova-bold", Arial, sans-serif 

+font(proximanova-light, proximanova-light-webfont)  
=pl
	font-family: "proximanova-light", Arial, sans-serif  

$white: #fff
$black: #000
$grey: #353535
$blue: #0096FF

body
	position: relative
	font-size: 18px
	line-height: 1.4
	+pr
	.loader
		position: absolute
		top: 50%
		left: 50%
		margin: -92px 0 0 -130px
		display: inline-block


// common blocks 

//out
.out
	a
		text-decoration: none
		&:hover
			text-decoration: underline
	&.is-loading
		position: relative
		opacity: 0
//wrapper
.wrapper
	margin: 0 auto
	padding: 0 20px
	width: 1110px
	+box
//header
.header
	position: relative
	height: 84px
	background: #1a1a1a
	+clr
	.container
		position: relative
		+box
	.header__logo
		position: absolute
		left: 20px
		top: 20px
		z-index: 3
		display: inline-block
		+svg(logo, 150, 86)
	.header__phone
		color: $white
	.header__mail
		color: $blue
	.header__menu
		float: right
	.header__info
		padding-top: 16px
		line-height: 1.4
		text-align: center
		display: inline-block
		vertical-align: middle
	.header-btn_menu
		right: 0
		i
			+svg(menu, 34, 34)
	.header-btn_basket
		right: 80px
		i
			+svg(basket, 34, 36)
	.header-btn
		position: absolute
		top: 0
		height: 80px
		width: 80px
		line-height: 80px
		text-align: center
		vertical-align: top
		display: none
		background: none
		i
			vertical-align: middle
			display: inline-block
		&:hover,
		&.is-active
			background: #363636

//menu
.menu
	height: 84px
	font-size: 0
	.menu__item
		vertical-align: middle
		display: inline-block
		+box
		&:hover
			a
				color: $white
				text-decoration: none
				background: #333
			.menu__drop
				display: block
		&:first-child
			margin-left: 0
		a
			padding: 0 10px
			height: 84px
			line-height: 84px
			color: $white
			font-size: 20px
			display: block
			+transition(0.2s)
			+pb
	.menu__drop
		position: absolute
		left: -490px
		right: -15px
		top: 100%
		z-index: 2
		.drop__col
			a
				height: auto
				line-height: 1.4 
				&:hover
					text-decoration: underline


//menumob
.menumob
	position: absolute
	top: 100%
	left: 0
	right: 0
	padding: 40px 15px 60px
	z-index: 2
	background: #363636
	display: none
	+clr
	.menumob__title
		margin: 20px 0
		color: $white
		font-size: 24px
		display: block
		+pb
	ul
		padding-left: 10px
		li
			margin: 8px 0
		a
			color: #a1a1a1
			font-size: 18px

//drop
.drop
	padding: 25px 60px 60px
	text-align: right
	font-size: 0
	background: #333
	display: none
	.drop__col
		width: 18%
		text-align: left
		font-size: 13px
		vertical-align: top
		display: inline-block
		.drop__title_disc
			padding-right: 0
			display: inline-block
		.discount
			font-size: 20px
			+pb
	.drop__list
		padding-right: 10px
		+box
		.drop__item
			margin-top: 10px
			height: auto
			a
				color: #b2b2b2
				font-size: 16px
				+pr
	.drop__title
		margin-top: 35px
		font-size: 20px

//breadcrumbs
.breadcrumbs
	padding: 53px 0 35px
	li
		float: left
		display: block
		a
			color: $blue
			font-size: 16px
			display: block
		span
			padding: 0 5px

//btn
.btn
	position: relative
	padding: 0 33px 0 24px
	height: 50px
	color: $white
	line-height: 50px
	font-size: 18px
	+border-radius(0 !important)
	+transition(all 0.2s linear) 
	+pb
	&:active
		top: -1px
	&.btn_blue
		background: #007deb
		+box-shadow(inset 0 -4px 0 #0068c4)
	&.btn_green
		background: #00d700
		+box-shadow(inset 0 -4px 0 #00b900)
	&:hover
		+opacity(.8)
		+box-shadow(none)
	&:focus
		outline: none !important 
.btn-top
	display: inline-block
	+svg(pic-scr-top, 22, 14)

//product
.product
	margin-bottom: 60px
	+clr
	.slider
		position: relative
		margin: 0 0 33px
		width: 100%
		border: 3px solid #b8b8b8
		+box
	.slick-slide
		background: $white
		img
			width: 100%
			display: block
	.slick-dots
		display: none
	.slick-next, .slick-prev
		position: absolute
		top: 50%
		margin-top: -17px
		&:hover
			+opacity(.9)
		&:before
			display: none
	.slick-prev
		left: -3px
		+svg(slick-prev, 34, 34)
	.slick-next
		right: -3px
		+svg(slick-next, 34, 34)
	.product__right
		padding-left: 30px
		+box
	.product__title
		margin: 0
		font-size: 36px
		color: $black
		letter-spacing: -0.1px
		+pb
	.availability
		position: relative
		margin: 40px 0
		padding-left: 42px
		color: #666666
		.availability__ico
			position: absolute
			top: -3px
			left: 0
			height: 28px
			width: 28px
			background: #00d700
			+border-radius(50%)
			display: block
			&:before
				position: absolute
				content: ''
				top: 50%
				left: 50%
				margin: -6px 0 0 -9px
				+s(availability-ico)


//characteristics
.characteristics
	margin: 40px 0
	.characteristics__row
		margin-bottom: 10px
		height: 50px
		line-height: 50px
	.characteristics__name
		// min-width: 88px
		font-size: 18px
		color: #656565
	.characteristics__name, .select
		vertical-align: top
		display: inline-block
	// .select
	// // 	width: 100%
	// 	max-width: 330px

//select
.select
	position: relative
	width: 100% !important
	height: 50px !important
	line-height: 50px !important
	white-space: nowrap
	border: none !important
	background: #f2f2f2 !important
	+box-shadow(inset 0 -5px 0 #d9d9d9 !important)
	text-overflow: ellipsis
	&:focus
		outline: none !important
	.caret
		content: ""
		position: absolute
		right: 20px !important
		top: 50% !important
		margin-top: -3px !important
		width: 0px
		height: 0px
		border-style: solid
		border-width: 10px 6px 0 6px
		border-color: #000 transparent transparent transparent
	.dropdown-toggle
		padding: 0 15px !important
		width: 100%
		color: $black
		font-size: 18px
		text-align: left
		background: none
		+pr
	.btn, .dropdown-toggle, .selectpicker.btn-info
		border: none !important
		&:focus
			border: none !important
			outline: none !important
	span, a
		outline: none !important
		color: $black !important
		font-size: 18px
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info
	top: 0
	border: none !important
	outline: none !important
	background: none !important
	+box-shadow(inset 0 -5px 0 #d9d9d9 !important)


//select-2
.select-2
	position: relative
	cursor: pointer
	font-size: 12px
	&.select-2_mod
		display: none
		li
			&.active,
			&:hover
				background: #717791
	&.is-active
		.select__text
			+box-shadow(none)
			&:after
				+rotate(180)
	.select_white
		background: #fff 
	.select__text
		position: relative
		padding: 0 15px
		height: 50px
		line-height: 50px
		white-space: nowrap
		font-size: 16px
		border: none
		background: #f2f2f2
		+box-shadow(inset 0 -5px 0 #d9d9d9)
		text-overflow: ellipsis
		display: block
		&:after
			content: ""
			position: absolute
			right: 20px !important
			top: 50% !important
			margin-top: -3px !important
			width: 0px
			height: 0px
			border-style: solid
			border-width: 10px 6px 0 6px
			border-color: #000 transparent transparent transparent
	.select__list
		position: absolute
		left: 0
		right: 0
		top: 100%
		padding: 0 0 7px
		z-index: 100
		max-height: 290px
		overflow-x: hidden
		overflow-y: auto
		background: #f2f2f2
		border-bottom: 5px solid #d9d9d9
		display: none
		+box
		li
			margin-bottom: 8px
			cursor: pointer
			line-height: 1
			+clr
			&.active,
			&:hover
				a
					background: none !important
					text-decoration: none
					color: $white !important
					+box-shadow(none)
			a
				padding: 5px 11px  !important
				line-height: 1
				font-size: 16px
				text-align: center
				display: block
			.checkbox
				margin: 0 !important
		&.select__list_white
			li
				margin: 0 8px
				padding-bottom: 8px
				background: $white
				&:first-child
					padding-top: 13px
					+box-shadow(inset 0 5px 0 #d9d9d9)
//buy
.buy
	.buy__row
		margin-bottom: 20px
	.buy__text
		margin-left: 30px
		font-size: 36px
		display: inline-block
		+pb
		span, del
			font-weight: 400
			+pr
	.btn
		padding: 0
		height: 60px
		width: 150px
		text-align: center
		font-size: 26px

//soc
.soc
	font-size: 0
	text-align: center
	li
		margin-right: 34px
		height: 40px
		line-height: 40px
		display: inline-block
	.soc__ico
		position: relative
		vertical-align: middle
		display: inline-block
		+transition(all 0.1s linear)
		&:hover 
			+opacity(.8)
	.soc__ico_vk
		+svg(vk, 23, 29)
	.soc__ico_fb
		+svg(fb, 16, 33)
	.soc__ico_ins
		+svg(ins, 31, 31)
	.soc__ico_g
		+svg(g, 35, 32)
	.soc__ico_mail
		+svg(mail, 33, 28)

.title
	font-size: 42px
	+pb
//field
.field
	&.field_grey
		background: #f2f2f2
	.field__top_grey
		padding: 60px 0 0
		background: #f2f2f2
		.title
			margin-bottom: 40px
	.field__top
		margin: 60px 0 40px
	.btn-top
		margin-top: 23px
	.field__row
		margin-top: 40px

.article
	margin-bottom: 60px
	+clr
	.media-body
		font-size: 18px
		p
			margin-top: 8px
	.media-heading
		font-size: 16px
		color: $blue 
		+pb
	img
		margin-right: 28px
	.date
		padding-left: 6px
		font-size: 16px
		line-height: 1


//tabbable
.tabbable
	.nav-tabs
		border-bottom: none
	li
		a
			padding: 18px !important
			color: $blue
			font-size: 18px !important
			border: none !important
			border-radius: 0 !important
			+transition(all 0.2s linear)
			+pb
		&:hover,
		&.active
			a
				color: $black !important
				background: $white !important
				+box-shadow(inset 0 4px 0 #e5e5e5)
	.nav__text2
		display: none
	.tab-content
		.article
			margin-top: 40px

//date
.date
	color: #999999
	line-height: 1
	vertical-align: top
	display: inline-block

.reviews-form
	margin-top: 40px
.reviewsform__title
	margin-bottom: 10px
	color: #222222
	line-height: 1
	font-size: 16px
	+pb
.reviewsform__area
	height: 94px !important
	color: #222222 !important
	font-size: 18px !important
	border: 2px solid #bfbfbf !important
	border-radius: 0 !important
	resize: none
.reviewsform__row
	margin-top: 30px
.reviewsform__link
	height: 50px
	line-height: 50px
.reviewsform__all
	color: $blue
	+pb
.reviewsform__quantity
	color: #999999
.reviewsform__all, .reviewsform__quantity
	font-size: 18px 
	line-height: 1
	vertical-align: middle
	display: inline-block
.col-60
	width: 60px
	height: 60px
	margin-right: 28px

//characteristic
.characteristic
	.media-heading
		color: $black
		font-size: 20px
		+pb
	.media__ico
		margin-right: 30px !important
		display: inline-block
		&.media__ico_1
			+svg(char_ico2, 60, 60)
		&.media__ico_2
			+svg(char_ico1, 60, 60)
//photo
.photo
	.photo__img
		margin-bottom: 30px
		img
			width: 100%
			display: block
	.photo__row
		margin-top: 10px

//brand
.brand
	.brand__img
		padding-bottom: 35px
		text-align: center
		img
			display: inline-block

//nav
.navbar
	width: 270px
	.navbar__item
		height: 60px
		line-height: 60px
		list-style-type: none
		+transition(0.1s)
	a
		padding: 0 30px
		color: $blue
		font-size: 26px
		display: block
		+box
		+pb
		&.is-active,
		&:hover
			color: $white
			text-decoration: none
			background: $black
	&.is-fixed
		position: fixed
		top: 20px

//kate
.kate
	margin-bottom: 55px
	display: block
	+pb
	.kate__img
		position: relative
		margin-bottom: 20px
		font-size: 18px
		overflow: hidden
		border: 2px solid #e5e5e5
		display: block
		+clr
		img
			width: 100%
			display: block
	.kate__info
		position: absolute
		top: -9px
		right: -54px
		width: 156px
		height: 63px
		line-height: 77px
		font-size: 28px
		text-align: center
		color: $white
		text-transform: uppercase
		background: #00d700
		+rotate(45)
		+pr
		&.kate__info_red
			background: #ff0000
	.kate__text, .kate__name
		color: $blue
		display: block
	.kate__name, .kate__prise
		font-size: 26px
	.rate__prise-old
		padding-left: 12px
		color: #7F7F7F
		text-decoration: line-through
		+pr

//discount
.discount
	padding-left: 5px
	color: #ee4023

//pay
.pay
	position: relative
	padding-top: 20px
	+clr
	&.pay_top
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 7px
			background: #cce4ff
			display: none !important
		.pay__info
			position: absolute 
			top: 0
			right: 0
			width: 80px
			height: 80px
			z-index: 1
			border-bottom: 5px solid #aec9e8
			display: none !important
			+svg(pay-info, 76, 81)
			+box
			&:before
				position: absolute
				content: ''
				top: 50%
				left: 50%
				margin: -30px 0 0 -30px
				display: none !important
				+svg(pay-info2, 70, 60)
			&.is-active
				background: #cce4ff
				&:before
					display: block !important
	&.pay_top-warning
		.is-top
			top: 255px
	.pay__row
		margin-bottom: 40px
		+clr
		&.pay__row_mod
			margin-bottom: 25px
		&.pay__border_block
			display: none
	.pay__col
		height: 40px
		line-height: 40px
	.pay__left
		padding-right: 30px
	.pay__border
		border-bottom: 4px solid #e5e5e5
	.pay__titletop
		height: 33px
		font-size: 18px
		line-height: 1.1
		line-height: 33px
		vertical-align: top
	.pay__title
		font-size: 24px
		+pb
	.pay__text
		padding: 15px 0 0 40px
		a
			margin-right: 20px
			color: $blue
			+pb
	.discount
		padding-left: 0
	.title
		padding-bottom: 20px
	.media
		img
			margin-right: 30px
	.media-heading
		font-size: 24px
		color: $black
		+pb
	.pay__input
		font-size: 0
	.input_28
		margin-left: 8%
		display: inline-block
		&:first-child
			margin-left: 0
	.pay__warning
		margin-bottom: 20px
	&.pay_grey
		background: #f2f2f2
	&.pay_form
		font-size: 16px
		.input__row
			margin-bottom: 17px
//warning
.warning
	position: relative
	padding: 15px
	color: $white
	background: #ff7518
	+box
	a
		color: $white
		text-decoration: underline
		+pb
		&:hover
			color: $white
			text-decoration: none
	.warning__btn
		position: absolute
		top: 15px
		right: 15px
		background: none
		+svg(close-img, 14, 13)

//help
.help
	position: absolute !important
	top: 143px
	right: 0
	bottom: 0
	padding: 10px 30px 30px !important
	background: #cce4ff
	.help__title
		+pb
	.help__list
		counter-reset: list
		li
			position: relative
			margin-top: 20px
			padding: 7px 0 0 33px
			&:before
				counter-increment: list
				content: counter(list)
				position: absolute
				top: 0
				left: 0
				color: $black
				font-size: 42px
				+pb
			&:first-letter
				text-transform: uppercase
	.help__bold
		color: $black
		+pb
	.help__ico-f
		margin-right: 3px
		vertical-align: middle
		display: inline-block
		+s(f-ico)
	.help__row
		text-align: center
	
//price
.price
	font-size: 24px
	+pb
	del
		+pr
	&.price_big
		font-size: 34px

//setting
.setting
	position: relative
	background: #f2f2f2
	border-bottom: 4px solid #d9d9d9
	.setting__btn
		position: absolute
		top: 18px
		right: 20px
		width: 9px
		height: 13px
		background: none
		+arr(9, 13, $black, r)
	.setting__item
		padding: 12px 20px 12px 12px
		display: none
	.setting__top
		padding: 0 12px
		height: 46px
		line-height: 46px
		cursor: pointer
	.setting__row
		margin-top: 15px
		font-size: 0
		+clr
		&:first-child
			margin-top: 0
	.setting__title
		width: 30%
		color: #656565
		&:first-letter
			text-transform: uppercase
	.setting__title, .setting__text
		font-size: 16px
		vertical-align: top
		display: inline-block
	.setting__text
		padding-right: 10px
		width: 70%
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
//order
.order
	padding-top: 40px
	.order__title
		margin: 30px 0 40px
		padding-left: 15px
		font-size: 36px
		+pb
		&.order__title_mod
			padding: 0 50px 0 0
			display: inline-block
	.order__title_2
		font-size: 24px
		+pb
		&.order__title_mob
			display: none
	.order__item_mar
		margin-bottom: 35px
		+clr
	.order__item
		.btn_mod
			width: 100%
	.order__btn
		width: 178px
		.btn__ico
			vertical-align: middle
			+svg(settings-pic, 22, 22)
			display: none
	.order__checkbox
		margin-bottom: 17px
		span
			font-size: 18px
	.order__text_link
		padding: 25px 0 18px
	.order__row
		.btn_green
			padding: 0
			width: 60px
			vertical-align: super
			i
				vertical-align: middle
				display: inline-block
				+svg(settings-pic, 22, 22)
	.input
		.input__row_area
			margin: 20px 0
			height: 130px

//consist__mob
.consist__mob
	font-size: 14px
	display: none
	.consist__item
		padding: 10px 0 30px 5px
		border-top: 4px solid #f2f2f2
		&:first-child
			border: none
	.consist__row
		margin-top: 20px
	.consist__title
		font-size: 14px
		+pb

//radiobatton
.radiobatton, .checkbox
	position: relative
	display: inline-block
	+unselectable
	input
		position: absolute
		left: 0
		top: 4px
		width: 24px
		height: 24px
		opacity: 0
		z-index: 2
		&:checked
			+ span
				&:before
					background: #00aeff
					border-color: #0094d9
				&:after
					display: block
	span
		position: relative
		padding-left: 40px
		line-height: 1.4
		color: $black
		font-size: 24px
		display: inline-block
		+border-radius(50%)
		+pb
		&:before
			content: ""
			position: absolute
			left: 0
			top: 4px
			width: 24px
			height: 24px
			border: 1px solid #d9d9d9
			background: $white
			+border-radius(50%)
		&:after
			display: none
			content: ""
			position: absolute
			top: 11px
			left: 7px
			height: 10px
			width: 10px
			+border-radius(50%)
			background: $black

//checkbox
.checkbox
	input
		top: 0
		&:checked
			+ span
				&:before
					border-color: #00b900
					background: #00d700 !important
				&:after
					display: block
	span
		height: 24px
		line-height: 24px
		font-size: 16px
		font-weight: 400
		cursor: pointer
		+pr
		&:before
			top: 0
			background: #fff !important
			+border-radius(0)
			background: none
		&:after
			top: 6px
			left: 3px
			+s(availability-ico)
//input
.input
	.input__row
		height: 40px
		&.input__row_area
			height: 80px
	input, textarea
		padding: 0 10px
		height: 100%
		width: 100%
		font-size: 20px
		border: 2px solid #d9d9d9
		+placeholder-color($black)
		+box
		&:focus
			+placeholder
				font-size: 0
	textarea
		padding: 8px 10px
		line-height: 1.2
		resize: none
	&.input_28
		width: 28%

//table
.table
	th, td
		border-top: none !important
	th
		font-size: 24px
		+pb

//filter
.filter
	margin-bottom: 60px
	.filter__top
		margin-bottom: 8px
		+clr
		.select__text
			padding-left: 115px
		.select__list
			padding: 0 15px
	.filter__row
		margin-bottom: 10px
	.select-2
		position: relative
		.select__name
			position: absolute
			left: 16px
			top: 50%
			margin-top: -10px
			height: 20px
			line-height: 20px
			font-size: 16px
			color: #666666
			z-index: 1
	.filter__select-2
		width: 330px
		.select__list
			padding: 0 8px
	.filter__setting
		display: none
		+clr
	.filter__text
		font-size: 20px
	.filter__item
		.filter__closebtn
			position: absolute
			top: 10px
			right: 15px
			+svg(close-black ,20, 20)
			display: none

//footer
.footer
	color: #B2B2B2
	font-size: 16px
	overflow: hidden
	background: #333
	+clr
	a
		color: #B2B2B2
		text-decoration: none
		&:hover
			text-decoration: underline
	p
		line-height: 1.4
	.footer_copy
		padding-left: 5px
		color: #B2B2B2
		font-size: 16px
		display: inline-block
		+pr
	.footer__title-1, .footer__title-2
		padding: 5px 0
		color: $white
		display: block
		+pb
		&:first-letter
			text-transform: uppercase
	.footer__title-1
		font-size: 16px
	.footer__title-2
		font-size: 18px
	.footer__title-2_inl
		display: inline-block
	.footer__item
		padding: 60px 0 70px 28px
	.footer__item_visible
		display: none
		ul
			margin-left: 8px
	.footer__item_hidden, .footer__item_right
		float: right !important
	.foorer__row
		margin-bottom: 40px
	.footer__item_first	
		float: left
		padding-bottom: 300px
		background: #1a1a1a
	.footer__list
		li
			padding: 5px 0
			a
				&:hover
					color: #B2B2B2
	.soc
		margin-top: 30px
		text-align: left
		li
			margin-bottom: 24px
			margin-right: 32px
		.soc__ico_vk
			+svg(vk-2, 22, 29)
		.soc__ico_fb
			+svg(fb-2, 16, 33)
		.soc__ico_ins
			+svg(ins-2, 30, 30)
		.soc__ico_g
			+svg(g-2, 35, 33)
		.soc__ico_mail
			+svg(mail-2, 33, 28)


// max-width 1200
@media screen and (max-width: 1200px)
	.soc
		li
			margin-right: 21px !important

// max-width 992
@media screen and (max-width: 992px)
	.container
		width: 100% !important
	.header
		height: 80px
		.container	
			position: initial
	.header__logo
		top: 10px !important
		width: 105px !important
		height: 60px !important
	.header__info
		display: none !important
	.header-btn
		display: block !important
	.menu
		display: none
	.breadcrumbs
		display: none
	.product
		margin-top: 60px
		.product__title
			font-size: 26px
		.buy__text
			font-size: 26px
	.navbar
		width: 234px
	.title
		font-size: 36px
	.field__top
		margin-bottom: 30px
	.tabbable li a
		font-size: 16px !important
	.nav__text1
		display: none
	.nav__text2
		display: block !important
	.reviewsform__all, .reviewsform__quantity
		font-size: 16px
	.reviewsform__row
		.btn
			font-size: 16px
	.media_resp
		display: none
	.kate .kate__name, .kate .kate__prise
		font-size: 20px
	.footer__item
		float: left !important
	.footer__item_first
		float: right !important
		padding-bottom: 60px !important
	.footer__item_hidden
		display: none
	.footer__item_visible
		display: block !important
	.footer
		.about
			display: none
		.contacts
			display: none
		.phone, .mail
			margin-top: 40px
			width: 50%
		.phone
			float: left
		.mail
			float: right
	.help
		display: none
	.pay
		.price
			font-size: 19px
		.price_big
			font-size: 24px
		&.pay_top
			&:before,
			.pay__info
				display: block !important
			.help
				top: 0
				left: 0
	.pay__row
		.price, .discount
			font-size: 18px
	.filter
		.filter__top
			margin-top: 22px

@media screen and (max-width: 768px)
	.field__top, .field__top_grey
		position: relative
		padding: 30px 40px 30px 15px !important
		color: $white
		margin: 40px 0 !important
		background: $black!important
		.title
			margin: 0 !important
			font-size: 26px !important
	.title
		font-size: 26px !important
	.field_grey
		background: none !important
	.article
		margin-bottom: 0
	.select-2_mod
		display: block !important
	.media-text
		margin: 20px 0 40px
	.media-body
		overflow: initial !important
	.media-heading
		padding-top: 10px
	.btn-top
		position: absolute
		right: 15px
		top: 50%
		margin-top: -6px !important
		+svg(pic-scr-top2, 20, 13)
		&.btn-top_mod
			margin-right: -15px
	.btn_resp
		width: 100%
	.footer__item 
		padding: 0 20px !important
	.footer__item_first
		padding-bottom: 60px !important
	.footer__item_visible
		margin: 60px 0 0 0
	.soc
		margin: 40px 0 !important
	.buy .buy__text
		margin-left: 15px !important
	.pay__row_top
		display: none
	.pay__row
		.media
			width: 100%
			margin-bottom: 15px
			img
				margin-right: 15px
			.media-body
				padding-right: 0
				+clr
			.pull-left
				padding-left: 0
				margin-right: 0
			.media-heading	
				width: 70%
				padding-top: 0
				font-size: 18px
		.input_mar, .price, .discount
			margin-left: -15px !important
		.input
			margin-top: 22px
		.price, .discount
			font-size: 16px
		.pay__col, .price
			height: auto
			line-height: 1.4
		.pay__title
			font-size: 18px
		.radiobatton
			span
				font-size: 18px
		.pay__text
			display: none
		.pay__input
			padding-bottom: 22px
		.col-grey
			padding-top: 1px
			background: #d9d9d9
		.pay__title_mob
			padding: 27px 0 0
		&.pay__row_form
			margin-bottom: 0
		&.pay__border_none
			display: none
		&.pay__border_block
			display: block !important
	.deliv
		margin-bottom: 8px !important
		.col-grey
			height: 80px
			line-height: 80px
			.price
				vertical-align: middle
				display: inline-block
		.radiobatton
			span
				vertical-align: middle
				&:before,
				&:after
					top: 50%
					margin-top: -12px
				&:after
					margin-top: -5px
			input
				top: 50%
				margin-top: -12px
	.pay_form
		.pay__row
			margin-bottom: 0
			.input
				margin-top: 0
				textarea
					font-size: 16px
					height: 100px
			p
				display: none
		.btn
			margin-top: 38px
			width: 100%
	.order
		.order__btn
			padding: 0
			width: 60px
			vertical-align: super
			.btn__ico
				display: inline-block
		.btn__text
			display: none
		.table
			display: none
		.order__title
			font-size: 20px
		.consist__mob
			display: block
			.price
				font-size: 16px
		.row-xs
			margin-bottom: 24px
			+clr
			.col-xs-12
				margin-bottom: 12px
			.order__title_2, .order__text
				float: left
				width: 50%
		.order__title_2
			font-size: 14px
			&.order__title_mob
				display: block
		.order__text
			font-size: 14px
	.filter
		.filter__item, .filter__sorting
			display: none
		.filter__setting
			float: left
			width: 100%
			display: block
		.filter__top
			.title
				width: 100%
		.filter__item
			padding-top: 45px
